/.idea/
/tmp/
/node_modules/
/cards/
/.bscache/
/temp/
/.cypher
/output/
/.playwright-mcp/console-2026-02-22T05-32-49-095Z.log
/.playwright-mcp/console-2026-02-22T05-35-50-746Z.log
/.playwright-mcp/page-2026-02-22T05-33-22-664Z.png
