openapi: 3.0.1
info:
  title: FSS-API
  description: This document is API specification of RMM Field Support System API.
  version: '1.0'
servers:
  - url: https://rmm-mfpdev-apim.azure-api.net/fss
paths:
  /service/getServiceList:
    post:
      tags:
        - Connection Status/Service
      summary: Get a list of devices to be operated by Technical Service.
      description: Get a list of devices to be operated by Technical Service.<br> Direct-connected devices are not included.
      operationId: post-service-getservicelist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getServiceListReq'
            example:
              startIndex: 0
              count: 10
              agentId: string
              simpleFilters:
                - key: string
                  value: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Device list subject to Technical service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getServiceListRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                deviceList:
                  - deviceId: string
                    modelName: string
                    serialNumber: string
                    ipAddress: string
                    friendlyName: string
                    serviceStatus: service
                    serviceStarted: 0
                    polling: true
                    lastPolling: 0
                    alertReceived: 0
                    remoteFssSetup: string
                    tagIds:
                      - string
  /service/getInitialUrl:
    post:
      tags:
        - Connection Status/Service
      summary: Get the initial registration URL.
      description: Get the initial connection URL for using the technical service.
      operationId: post-service-getinitialurl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getInitialUrlReq'
            example:
              agentId: string
      responses:
        '200':
          description: Return the initial connection URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInitialUrlRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                url: string
  /service/setService:
    post:
      tags:
        - Connection Status/Service
      summary: Set the service state.
      description: Sets the status of the technical service for the specified device.<br> Direct-connected devices shall be excluded.
      operationId: post-service-setservice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setServiceReq'
            example:
              agentId: string
              deviceIds:
                - string
              serviceStatus: service
              isExclude: true
      responses:
        '200':
          description: Service state setting result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setServiceRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /service/getRegisterDeviceUrl:
    post:
      tags:
        - Connection Status/Service
      summary: Get the URL for device registration.
      description: Acquire the URL for device registration by direct connection of MFP.
      operationId: post-service-getregisterdeviceurl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRegisterDeviceUrlReq'
            example:
              groupId: string
      responses:
        '200':
          description: Return the Device register URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRegisterDeviceUrlRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                url: string
                expiration: 0
  /service/getFssSetupItem:
    post:
      tags:
        - Connection Status/Service
      summary: Gets the FSS setup item.
      description: Gets the FSS setup items for the specified tenant.<br>
      operationId: post-service-getfsssetupitem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getFssSetupItemReq'
            example:
              groupId: string
      responses:
        '200':
          description: Returns the FSS setup item.<br> Returns the initial value if the FSS setup item does not exist in the database.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFssSetupItemRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                useTls: true
                alertNotifySetting: 0
                httpRegPollingSetting: 0
                httpRegPollingInterval: 0
                httpManPollingSetting: 0
                tonerOrderTimingControlType: 0
                immovableTonerOrderLevel_K: 0
                immovableTonerOrderLevel_C: 0
                immovableTonerOrderLevel_M: 0
                immovableTonerOrderLevel_Y: 0
  /alert/getAlertList:
    post:
      tags:
        - Alert
      summary: Get the list of alerts.
      description: Get the list of alerts for the target tenant.
      operationId: post-alert-getalertlist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getAlertListReq'
            example:
              startIndex: 0
              count: 10
              groupId: string
              simpleFilters:
                - key: string
                  value: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Result of obtaining alert list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAlertListRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                alertList:
                  - alertId: string
                    deviceId: string
                    modelName: string
                    serialNumber: string
                    ipAddress: string
                    friendlyName: string
                    tagIds:
                      - string
                    alertType: tonerOrder
                    alertSentDateTime: string
                    alertReceived: 0
  /data/getDataList:
    post:
      tags:
        - Get Data
      summary: Get a list of devices about get data.
      description: Get a list of devices to be operated by Technical Service about get data.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-data-getdatalist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getDataListReq'
            example:
              startIndex: 0
              count: 10
              groupId: string
              simpleFilters:
                - key: string
                  value: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Device list about get data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDataListRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                deviceList:
                  - deviceId: string
                    modelName: string
                    serialNumber: string
                    ipAddress: string
                    friendlyName: string
                    tagIds:
                      - string
                    scheduleName: string
                    scheduleStatus: string
                    getNow: 0
                    lastResult: success
                    lastAccess: 0
                    lastDataType: mfpdata
                    logData: supported
  /data/getDataHistory:
    post:
      tags:
        - Get Data
      summary: Get the get data history list.
      description: To the get data history list of the specified device.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-data-getdatahistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getDataHistoryReq'
            example:
              startIndex: 0
              count: 10
              deviceId: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Result of get data history list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDataHistoryRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                dataHistoryList:
                  - dataId: string
                    dataType: mfpdata
                    result: success
                    timestamp: 0
                    commandResultCode: 0
  /data/applyDataSchedule:
    post:
      tags:
        - Get Data
      summary: Apply the get data schedule.
      description: Apply the get data schedule for the specified device.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-data-applydataschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applyDataScheduleReq'
            example:
              groupId: string
              deviceIds:
                - string
              scheduleId: string
              dataType: mfpdata
              isExclude: true
      responses:
        '200':
          description: Apply result of get data schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applyDataScheduleRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /data/setDataSchedule:
    post:
      tags:
        - Get Data
      summary: Enable/Disable the get data schedule.
      description: Enable/Disable the get data schedule for the specified device.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-data-setdataschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setDataScheduleReq'
            example:
              groupId: string
              mode: string
              deviceIds:
                - string
              isExclude: true
      responses:
        '200':
          description: Enable/Disable result of get data schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setDataScheduleRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /data/removeDataSchedule:
    post:
      tags:
        - Get Data
      summary: Remove the get data schedule.
      description: 'Remove the get data schedule for the specified device.<br> If the schedule is enabled, disable it and then remove it.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".'
      operationId: post-data-removedataschedule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/removeDataScheduleReq'
            example:
              groupId: string
              deviceIds:
                - string
              isExclude: true
      responses:
        '200':
          description: Remove result of get data schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/removeDataScheduleRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /data/getDataScheduleItemList:
    post:
      tags:
        - Get Data
      summary: Get the list of get data schedules.
      description: Get the list of get data schedules for the specified tenant.
      operationId: post-data-getdatascheduleitemlist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getDataScheduleItemListReq'
            example:
              startIndex: 0
              count: 10
              groupId: string
      responses:
        '200':
          description: Get Data Schedule List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDataScheduleItemListRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                scheduleItemList:
                  - scheduleId: string
                    scheduleName: string
                    dataType: mfpdata
                    timeZone: string
                    executeStartDate: string
                    recurrence: 1
                    dayOfWeek:
                      - 0
                    timeList:
                      - hour: 0
                        minute: 0
                    oneShotExecuteTimestamp: 0
  /data/addDataScheduleItem:
    post:
      tags:
        - Get Data
      summary: Add a get data schedule item.
      description: Add a get data schedule.
      operationId: post-data-adddatascheduleitem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addDataScheduleItemReq'
            example:
              groupId: string
              scheduleName: string
              dataType: mfpdata
              timeZone: string
              executeStartDate: string
              recurrence: 1
              dayOfWeek:
                - 0
              timeList:
                - hour: 0
                  minute: 0
              oneShotExecuteTimestamp: 0
      responses:
        '200':
          description: Result of adding get data schedule item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addDataScheduleItemRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /data/updateDataScheduleItem:
    post:
      tags:
        - Get Data
      summary: Update a get data schedule item.
      description: Update a get data schedule item.
      operationId: post-data-updatedatascheduleitem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDataScheduleItemReq'
            example:
              groupId: string
              scheduleId: string
              scheduleName: string
              dataType: mfpdata
              timeZone: string
              executeStartDate: string
              recurrence: 1
              dayOfWeek:
                - 0
              timeList:
                - hour: 0
                  minute: 0
              oneShotExecuteTimestamp: 0
      responses:
        '200':
          description: Result of updating get data schedule item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updataDataScheduleItemRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /data/deleteDataScheduleItem:
    post:
      tags:
        - Get Data
      summary: Delete data schedule items.
      description: Delete data schedule items.
      operationId: post-data-deletedatascheduleitem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteDataScheduleItemReq'
            example:
              groupId: string
              scheduleIds:
                - string
              isExclude: true
      responses:
        '200':
          description: Result of deleting get data schedule item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteDataScheduleItemRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /diag/getRemoteDiagList:
    post:
      tags:
        - Remote Maintenance
      summary: Get a list of devices about remote maintenance.
      description: Get a list of devices to be operated by Technical Service about remote maintenance.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-diag-getremotediaglist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRemoteDiagListReq'
            example:
              startIndex: 0
              count: 10
              groupId: string
              simpleFilters:
                - key: string
                  value: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Device list about remote maintenance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRemoteDiagListRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                deviceList:
                  - deviceId: string
                    modelName: string
                    serialNumber: string
                    ipAddress: string
                    friendlyName: string
                    tagIds:
                      - string
                    diagName: string
                    diagSimNo: string
                    diagDataNo: string
                    diagValue: string
                    nextDiag: 0
                    lastResult: string
                    lastDiag: 0
  /diag/getRemoteDiagHistory:
    post:
      tags:
        - Remote Maintenance
      summary: Get the remote maintenance history list.
      description: Get the remote maintenance history list of the specified device.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-diag-getremotediaghistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRemoteDiagHistoryReq'
            example:
              startIndex: 0
              count: 10
              deviceId: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Result of remote maintenance history list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRemoteDiagHistoryRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                diagHistoryList:
                  - diagExecId: string
                    diagSimNo: string
                    diagDataNo: string
                    diagValue: string
                    result: string
                    timestamp: 0
                    commandResultCode: 0
  /diag/applyRemoteDiag:
    post:
      tags:
        - Remote Maintenance
      summary: Apply a remote maintenance.
      description: Apply remote maintenance for specified device.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-diag-applyremotediag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/applyRemoteDiagReq'
            example:
              groupId: string
              deviceIds:
                - string
              diagId: string
              isExclude: true
      responses:
        '200':
          description: Result of applying remote maintenance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applyRemoteDiagRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /diag/setRemoteDiag:
    post:
      tags:
        - Remote Maintenance
      summary: Re-reserve a remote maintenance.
      description: Re-reserve the remote maintenance applied to the device.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-diag-setremotediag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setRemoteDiagReq'
            example:
              groupId: string
              deviceIds:
                - string
              isExclude: true
      responses:
        '200':
          description: Remote maintenance reservation result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setRemoteDiagRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /diag/removeRemoteDiag:
    post:
      tags:
        - Remote Maintenance
      summary: Remove a remote maintenance.
      description: 'Remove remote maintenance for specified device.<br> If not yet executed, cancel the reservation and remove a remote maintenance. Target devices that support the FSS function and whose "serviceStatus" is set to "service".'
      operationId: post-diag-removeremotediag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/removeRemoteDiagReq'
            example:
              groupId: string
              deviceIds:
                - string
              isExclude: true
      responses:
        '200':
          description: Remote maintenance remove result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/removeRemoteDiagRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /diag/getRemoteDiagItemList:
    post:
      tags:
        - Remote Maintenance
      summary: Get the list of remote maintenance item.
      description: Get the list of remote maintenance items for the specified tenant.
      operationId: post-diag-getremotediagitemlist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRemoteDiagItemListReq'
            example:
              startIndex: 0
              count: 10
              groupId: string
      responses:
        '200':
          description: Remote diag item List
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRemoteDiagItemListRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                remoteDiagItemList:
                  - diagId: string
                    diagName: string
                    diagSimType: string
                    diagSimNo: string
                    diagDataNo: string
                    diagValue: string
  /diag/addRemoteDiagItem:
    post:
      tags:
        - Remote Maintenance
      summary: Add a remote maintenance item.
      description: Add a remote maintenance item.
      operationId: post-diag-addremotediagitem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/addRemoteDiagItemReq'
            example:
              groupId: string
              diagName: string
              diagSimType: string
              diagSimNo: string
              diagDataNo: string
              diagValue: string
      responses:
        '200':
          description: Result of adding remote maintenance item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addRemoteDiagItemRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /diag/updateRemoteDiagItem:
    post:
      tags:
        - Remote Maintenance
      summary: Update a remote maintenance item.
      description: Update a remote maintenance item.
      operationId: post-diag-updateremotediagitem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateRemoteDiagItemReq'
            example:
              groupId: string
              diagId: string
              diagName: string
              diagSimType: string
              diagSimNo: string
              diagDataNo: string
              diagValue: string
      responses:
        '200':
          description: Result of updating remote maintenance item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateRemoteDiagItemRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /diag/deleteRemoteDiagItem:
    post:
      tags:
        - Remote Maintenance
      summary: Delete remote maintenance items.
      description: Delete remote maintenance items.
      operationId: post-diag-deleteremotediagitem
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteRemoteDiagItemReq'
            example:
              groupId: string
              diagIds:
                - string
              isExclude: true
      responses:
        '200':
          description: Result of deleting remote maintenance items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRemoteDiagItemRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/getFirmwareUpdateList:
    post:
      tags:
        - Firmware Update
      summary: Get a list of devices about firmware update.
      description: Get a list of devices to be operated by Technical Service about firmware update.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-fwupd-getfirmwareupdatelist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getFirmwareUpdateListReq'
            example:
              startIndex: 0
              count: 10
              groupId: string
              simpleFilters:
                - key: string
                  value: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Device list about firmware update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFirmwareUpdateListRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                deviceList:
                  - deviceId: string
                    modelName: string
                    serialNumber: string
                    ipAddress: string
                    friendlyName: string
                    tagIds:
                      - string
                    fileId: string
                    fileTitle: string
                    fileTransferTimestamp: 0
                    fileTransferTimeZone: string
                    executeUpdateDateTime: string
                    updateStatus: string
                    updateStatusTimestamp: 0
                    firmwareVersion: string
                    dskFlag: true
                    firmwareType: string
                    otaMode: string
                    otaSettingStatus: string
                    otaStartHour: 0
                    otaEndHour: 0
                    latestFirmwareVersion: string
                    isSnmpFW: true
                    remoteTriggerSetting: string
  /fwupd/getFirmwareUpdateOTAList:
    post:
      tags:
        - Firmware Update
      summary: Get a list of devices about Firmware update OTA settings.
      description: "Get a list of devices that can be used with Firmware update OTA settings.<br> Eligible devices are devices that meet the following conditions:<br>\n  - Supports the FSS function.\n  - \"serviceStatus\" is set to \"service\".\n  - Supports OTA settings."
      operationId: post-fwupd-getfirmwareupdateotalist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getFirmwareUpdateOTAListReq'
            example:
              startIndex: 0
              count: 10
              groupId: string
              simpleFilters:
                - key: string
                  value: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Device list about firmware update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFirmwareUpdateOTAListRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                deviceList:
                  - deviceId: string
                    modelName: string
                    serialNumber: string
                    ipAddress: string
                    friendlyName: string
                    tagIds:
                      - string
                    firmwareVersion: string
                    dskFlag: true
                    firmwareType: string
                    otaMode: string
                    otaSettingStatus: string
                    otaStartHour: 0
                    otaEndHour: 0
                    latestFirmwareVersion: string
                    isSnmpFW: true
  /fwupd/getFirmwareVersionDetails:
    post:
      tags:
        - Firmware Update
      summary: Get Firmware Version Details of devices.
      description: Get Firmware Version Detaiols of the device.
      operationId: post-fwupd-getfirmwareversiondetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getFirmwareVersionDetailsReq'
            example:
              groupId: string
              deviceId: string
              firmwareDetails: 1
              modelName: string
              latestFirmwareVersion: string
              dskFlag: true
      responses:
        '200':
          description: Device Firmware Details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFirmwareVersionDetailsRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                latestFirmwareDetails:
                  components:
                    - fwName: string
                      fwVer: string
                currentFirmwareDetails:
                  bundleVersion: string
                  components:
                    - fwName: string
                      fwVer: string
  /fwupd/getFirmwareUpdateDetail:
    post:
      tags:
        - Firmware Update
      summary: Get detailed information on firmware updates.
      description: Get detailed information on firmware updates for the specified device.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-fwupd-getfirmwareupdatedetail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getFirmwareUpdateDetailReq'
            example:
              deviceId: string
      responses:
        '200':
          description: Device list about firmware update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFirmwareUpdateDetailRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                modelName: string
                serialNumber: string
                firmwareVersionDetail:
                  - name: string
                    version: string
  /fwupd/getFirmwareUpdateHistory:
    post:
      tags:
        - Firmware Update
      summary: Get the firmware update history list.
      description: Get the firmware update history list of the specified device.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-fwupd-getfirmwareupdatehistory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getFirmwareUpdateHistoryReq'
            example:
              startIndex: 0
              count: 10
              deviceId: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Result of firmware update history list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFirmwareUpdateHistoryRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                fwupdHistoryList:
                  - fileTitle: string
                    request: string
                    result: string
                    timestamp: 0
                    commandCode: 0
                    commandResultCode: 0
                    commandResultCodeDetail: 0
  /fwupd/getFirmwareDataList:
    post:
      tags:
        - Firmware Update
      summary: Get firmware data list.
      description: Get firmware data list for the specified tenant.
      operationId: post-fwupd-getfirmwaredatalist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getFirmwareDataListReq'
            example:
              startIndex: 0
              count: 10
              groupId: string
      responses:
        '200':
          description: Result of firmware data list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getFirmwareDataListRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                firmwareDataList:
                  - fileId: string
                    fileTitle: string
                    fileName: string
                    fileSize: 0
  /fwupd/deleteFirmwareData:
    post:
      tags:
        - Firmware Update
      summary: Delete the firmware data.
      description: Delete the specified firmware data.
      operationId: post-fwupd-deletefirmwaredata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/deleteFirmwareDataReq'
            example:
              groupId: string
              fileIds:
                - string
              isExclude: true
      responses:
        '200':
          description: Result of delete the fiemware data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteFirmwareDataRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/setUpdateReservation:
    post:
      tags:
        - Firmware Update
      summary: Schedule a reservation for firmware update.
      description: Schedule a firmware update for the specified device.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".
      operationId: post-fwupd-setupdatereservation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setUpdateReservationReq'
            example:
              groupId: string
              deviceIds:
                - string
              fileId: string
              fileTransferTimestamp: 0
              fileTransferTimeZone: string
              executeUpdateDateTime: string
              isExclude: true
      responses:
        '200':
          description: Result of schedule a firmware update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setUpdateReservationRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/removeUpdateReservation:
    post:
      tags:
        - Firmware Update
      summary: Remove the firmware update schedule.
      description: 'Remove the firmware update schedule.<br> If the update has not yet been executed, cancel the update reservation and remove the update reservation.<br> Target devices that support the FSS function and whose "serviceStatus" is set to "service".'
      operationId: post-fwupd-removeupdatereservation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/removeUpdateReservationReq'
            example:
              groupId: string
              deviceIds:
                - string
              isExclude: true
      responses:
        '200':
          description: Result of remove the firmware update schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/removeUpdateReservationRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/sendmail:
    post:
      tags:
        - Firmware Update
      summary: Firmware update request mail.
      description: Send firmware update request mail to Service-Main Users
      operationId: post-fwupd-sendmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/firmwareUpdateMailReq'
            example:
              groupId: string
              deviceList:
                - string
              timezone: string
      responses:
        '200':
          description: Send mail status - firmware update request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/firmwareUpdateMailRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /fwupd/rmttgr/setFWUpdateRemoteTrigger:
    post:
      tags:
        - Firmware Update Remote Trigger
      summary: Set the remote trigger settings.
      description: Set the remote trigger settings.
      operationId: post-fwupd-rmttgr-setfwupdateremotetrigger
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setFWUpdateRemoteTriggerReq'
            example:
              groupId: string
              deviceId: string
              command: enabled
      responses:
        '200':
          description: Set the remote trigger settings result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setFWUpdateRemoteTriggerRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/rmttgr/tryConnectGlobalFwServer:
    post:
      tags:
        - Firmware Update Remote Trigger
      summary: Check the connection to the global firmware server.
      description: Check the connection to the global firmware server.
      operationId: post-fwupd-rmttgr-tryconnectglobalfwserver
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tryConnectGlobalFwServerReq'
            example:
              groupId: string
              deviceId: string
      responses:
        '200':
          description: Check the connection to the global firmware server result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tryConnectGlobalFwServerRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/rmttgr/setUpdateFirmwareVersion:
    post:
      tags:
        - Firmware Update Remote Trigger
      summary: 'Set the update version. [for debug-use only]'
      description: 'Set the update version. (Upload the FUS json file) [for debug-use only]'
      operationId: post-fwupd-rmttgr-setupdatefirmwareversion
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                json:
                  $ref: '#/components/schemas/setUpdateFirmwareVersionReq'
                file:
                  $ref: '#/components/schemas/setUpdateFirmwareVersionFUSJsonFile'
      responses:
        '200':
          description: Set the update version result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setUpdateFirmwareVersionRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/rmttgr/setUpdateReservation:
    post:
      tags:
        - Firmware Update Remote Trigger
      summary: Schedule firmware updates with remote triggers.
      description: Schedule firmware updates with remote triggers.
      operationId: post-fwupd-rmttgr-setupdatereservation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rmttgrSetUpdateReservationReq'
            example:
              groupId: string
              deviceId: string
              executeUpdateDateTime: string
      responses:
        '200':
          description: Schedule firmware updates with remote triggers result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rmttgrSetUpdateReservationRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/rmttgr/removeUpdateReservation:
    post:
      tags:
        - Firmware Update Remote Trigger
      summary: Remove a reservation for a firmware update using a remote trigger.
      description: Remove a reservation for a firmware update using a remote trigger.
      operationId: post-fwupd-rmttgr-removeupdatereservation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rmttgrRemoveUpdateReservationReq'
            example:
              groupId: string
              deviceId: string
      responses:
        '200':
          description: Remove a reservation for a firmware update using a remote trigger result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rmttgrRemoveUpdateReservationRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/rmttgr/cancelUpdateRemoteTriggerSetting:
    post:
      tags:
        - Firmware Update Remote Trigger
      summary: Cancel the remote trigger settings.
      description: Cancel the remote trigger settings.
      operationId: post-fwupd-rmttgr-cancelupdateremotetriggersetting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelUpdateRemoteTriggerSettingReq'
            example:
              groupId: string
              deviceId: string
      responses:
        '200':
          description: Cancel the remote trigger settings result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelUpdateRemoteTriggerSettingRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/rmttgr/cancelTryConnectGlobalFwServer:
    post:
      tags:
        - Firmware Update Remote Trigger
      summary: Cancel check the connection to the global firmware server.
      description: Cancel check the connection to the global firmware server.
      operationId: post-fwupd-rmttgr-canceltryconnectglobalfwserver
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelTryConnectGlobalFwServerReq'
            example:
              groupId: string
              deviceId: string
      responses:
        '200':
          description: Cancel check the connection to the global firmware server result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelTryConnectGlobalFwServerRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/rmttgr/cancelUpdateFirmwareVersionSetting:
    post:
      tags:
        - Firmware Update Remote Trigger
      summary: Cancel the update version setting.
      description: Cancel the update version setting.
      operationId: post-fwupd-rmttgr-cancelupdatefirmwareversionsetting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelUpdateFirmwareVersionSettingReq'
            example:
              groupId: string
              deviceId: string
      responses:
        '200':
          description: Cancel the update version setting result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelUpdateFirmwareVersionSettingRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/rmttgr/setStatusCheck:
    post:
      tags:
        - Firmware Update Remote Trigger
      summary: Check the status of Firmware Update.
      description: Check the status of Firmware Update.
      operationId: post-fwupd-rmttgr-setstatuscheck
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setStatusCheckReq'
            example:
              groupId: string
              deviceId: string
      responses:
        '200':
          description: Check the status of Firmware Update result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setStatusCheckRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /fwupd/rmttgr/cancelStatusCheck:
    post:
      tags:
        - Firmware Update Remote Trigger
      summary: Cancel the status check of Firmware Update.
      description: Cancel the status check of Firmware Update.
      operationId: post-fwupd-rmttgr-cancelstatuscheck
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelStatusCheckReq'
            example:
              groupId: string
              deviceId: string
      responses:
        '200':
          description: Cancel the status check of Firmware Update result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelStatusCheckRsp'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
components:
  schemas:
    getServiceListReq:
      required:
        - agentId
      type: object
      properties:
        startIndex:
          type: integer
          description: "Start Index <br> ●Check content\n  - Error for other than numeric value"
          default: 0
        count:
          type: integer
          description: "Number of records <br> ●Check content\n  - Error for other than numeric value"
          default: 10
        agentId:
          type: string
          description: "agentId of target agent(AgentFSS).<br> ●Check content\n  - A null or empty string is an error."
        simpleFilters:
          type: array
          items:
            required:
              - key
              - value
            type: object
            properties:
              key:
                type: string
                description: "Filter key<br> Specifiable items are as below. - Filter key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Model name</td></tr>\n    <tr><td>serialNumber</td><td>Serial number</td></tr>\n    <tr><td>friendlyName</td><td>Custom Name</td></tr>\n    <tr><td>ipAddress</td><td>IP Address</td></tr>\n    <tr><td>serviceStatus</td><td>Service Status(Connection Status)</td></tr>\n    <tr><td>polling</td><td>Polling Availability</td></tr>\n    <tr><td>remoteFssSetup</td><td>Remote FSS Setup Availability</td></tr>\n    <tr><td>tagIds</td><td>Tag Ids</td></tr>\n  </table>\n\n●Check content\n  - Error for other than specified value"
              value:
                type: string
                description: "Filtering target strings <br> Strings that are Specifiable in filter key are as below.\n- Filtering target strings\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Specify input value</td></tr>\n    <tr><td>serialNumber</td><td>Specify input value</td></tr>\n    <tr><td>friendlyName</td><td>Specify input value</td></tr>\n    <tr><td>ipAddress</td><td>Specify input value</td></tr>\n    <tr><td>serviceStatus</td><td>\n    <table border=\"1\">\n      <tr><td>service</td></tr>\n      <tr><td>outOfService</td></tr>\n    </table></td></tr>\n    <tr><td>polling</td><td>\n    <table border=\"1\">\n      <tr><td>true</td></tr>\n      <tr><td>false</td></tr>\n    </table></td></tr>\n    <tr><td>remoteFssSetup</td><td>\n    <table border=\"1\">\n      <tr><td>supported</td></tr>\n      <tr><td>notSupported</td></tr>\n    </table></td></tr>\n    <tr><td>tagIds</td><td>Specify input value</td></tr>\n  </table>"
          description: Simple Filter
        orderBy:
          type: array
          items:
            required:
              - key
              - order
            type: object
            properties:
              key:
                type: string
                description: "Sort Key <br> Specifiable items are as below.\n- Sort Key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Model name</td></tr>\n    <tr><td>serialNumber</td><td>Serial number</td></tr>\n    <tr><td>friendlyName</td><td>Custom Name</td></tr>\n    <tr><td>ipAddress</td><td>IP Address</td></tr>\n    <tr><td>serviceStatus</td><td>Service Status(Connection Status)(*1)</td></tr>\n    <tr><td>serviceStarted</td><td>Date and time when Connected</td></tr>\n    <tr><td>polling</td><td>Polling Availability(*2)</td></tr>\n    <tr><td>lastPolling</td><td>Last Polling date and time</td></tr>\n    <tr><td>alertReceived</td><td>Alert receive Date and Time</td></tr>\n    <tr><td>remoteFssSetup</td><td>Remote FSS Setup Availability(*2)</td></tr>\n  </table>\n\n  *1) Priority of the Service Status is as below.\n      <table border=\"1\">\n        <tr><th>Priority Order</th><th>Value</th></tr>\n        <tr><td>1</td><td>service</td></tr>\n        <tr><td>2</td><td>outOfService</td></tr>\n      </table>\n      When \"ascending\" is specified in \"Sort order\", display the items in order from smallest priority value <br>\n\n  *2) Priority of the Polling Availability is as below.\n      <table border=\"1\">\n        <tr><th>Priority Order</th><th>Value</th></tr>\n        <tr><td>1</td><td>false</td></tr>\n        <tr><td>2</td><td>true</td></tr>\n      </table>\n      When \"ascending\" is specified in \"Sort order\", display the items in order from smallest priority value <br>\n\n  *3) Priority of the Remote FSS Setup Availability is as below.\n      <table border=\"1\">\n        <tr><th>Priority Order</th><th>Value</th></tr>\n        <tr><td>1</td><td>supported</td></tr>\n        <tr><td>2</td><td>notSupported</td></tr>\n      </table>\n      When \"ascending\" is specified in \"Sort order\", display the items in order from smallest priority value <br>\n\n●Check content\n  - Error for other than specified value"
              order:
                enum:
                  - ascending
                  - descending
                type: string
                description: "Sort Order <br>\n  - ascending: Ascending\n  - descending: Descending\n\n●Check content\n  - Error for other than specified value"
          description: Sort Specification
    getInitialUrlReq:
      required:
        - agentId
      type: object
      properties:
        agentId:
          type: string
          description: "agentId of target agent(AgentFSS).<br> ●Check content\n  - A null or empty string is an error."
    setServiceReq:
      required:
        - agentId
        - deviceIds
        - serviceStatus
        - isExclude
      type: object
      properties:
        agentId:
          type: string
          description: "agentId of target agent(AgentFSS).<br> ●Check content\n  - A null or empty string is an error."
        deviceIds:
          type: array
          items:
            type: string
            description: "The deviceId of target device.<br> ●Check content\n  - A null is an error."
          description: "The deviceId list of target device.<br> ●Check content\n  - Empty list is allowed.\n  - A null is an error."
        serviceStatus:
          enum:
            - service
            - outOfService
          type: string
          description: "FSS service state to be configured.\n  - service: Enable the FSS service.\n  - outOfService: Disable the FSS service.\n\n●Check content\n  - Any string other than the specified string is an error."
        isExclude:
          type: boolean
          description: "Specify deviceIds details.\n  - true: deviceIds is unselected device.\n  - false: deviceIds is selected device.\n\n●Check content\n  - Error for other than true/false"
    getRegisterDeviceUrlReq:
      required:
        - groupId
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
    getFssSetupItemReq:
      required:
        - groupId
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
    getAlertListReq:
      required:
        - groupId
      type: object
      properties:
        startIndex:
          type: integer
          description: "Start Index <br> ●Check content\n  - Error for other than numeric value"
          default: 0
        count:
          type: integer
          description: "Number of records <br> ●Check content\n  - Error for other than numeric value"
          default: 10
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        simpleFilters:
          type: array
          items:
            required:
              - key
              - value
            type: object
            properties:
              key:
                type: string
                description: "Filter key<br> Specifiable items are as below. - Filter key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Model name</td></tr>\n    <tr><td>serialNumber</td><td>Serial number</td></tr>\n    <tr><td>friendlyName</td><td>Custom Name</td></tr>\n    <tr><td>ipAddress</td><td>IP Address</td></tr>\n    <tr><td>alertType</td><td>Alert Type</td></tr>\n    <tr><td>tagIds</td><td>Tag Ids</td></tr>\n  </table>\n\n●Check content\n  - Error for other than specified value"
              value:
                type: string
                description: "Filtering target strings <br> Strings that are Specifiable in filter key are as below.\n- Filtering target strings\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Specify input value</td></tr>\n    <tr><td>serialNumber</td><td>Specify input value</td></tr>\n    <tr><td>friendlyName</td><td>Specify input value</td></tr>\n    <tr><td>ipAddress</td><td>Specify input value</td></tr>\n    <tr><td>alertType</td><td>\n    <table border=\"1\">\n      <tr><td>tonerOrder</td></tr>\n      <tr><td>maintenance</td></tr>\n      <tr><td>trouble</td></tr>\n      <tr><td>jam</td></tr>\n      <tr><td>tonerCartridge</td></tr>\n      <tr><td>serviceCall</td></tr>\n      <tr><td>paperOrder</td></tr>\n      <tr><td>wasteTonerBoxNearFull</td></tr>\n      <tr><td>wasteTonerBoxReplacement</td></tr>\n      <tr><td>imagingUnitOrder</td></tr>\n      <tr><td>imagingUnitReplacement</td></tr>\n    </table></td></tr>\n    <tr><td>tagIds</td><td>Specify input value</td></tr>\n  </table>"
          description: Simple Filter
        orderBy:
          type: array
          items:
            required:
              - key
              - order
            type: object
            properties:
              key:
                type: string
                description: "Sort Key <br> Specifiable items are as below.\n- Sort Key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Model name</td></tr>\n    <tr><td>serialNumber</td><td>Serial number</td></tr>\n    <tr><td>friendlyName</td><td>Custom Name</td></tr>\n    <tr><td>ipAddress</td><td>IP Address</td></tr>\n    <tr><td>alertType</td><td>Alert Type</td></tr>\n    <tr><td>alertSentDateTime</td><td>Alert(send) Date and Time</td></tr>\n    <tr><td>alertReceived</td><td>Alert receive Date and Time</td></tr>\n  </table>\n\n●Check content\n  - Error for other than specified value"
              order:
                enum:
                  - ascending
                  - descending
                type: string
                description: "Sort Order <br>\n  - ascending: Ascending\n  - descending: Descending\n\n●Check content\n  - Error for other than specified value"
          description: Sort Specification
    getDataListReq:
      required:
        - groupId
      type: object
      properties:
        startIndex:
          type: integer
          description: "Start Index <br> ●Check content\n  - Error for other than numeric value"
          default: 0
        count:
          type: integer
          description: "Number of records <br> ●Check content\n  - Error for other than numeric value"
          default: 10
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        simpleFilters:
          type: array
          items:
            required:
              - key
              - value
            type: object
            properties:
              key:
                type: string
                description: "Filter key<br> Specifiable items are as below. - Filter key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Model name</td></tr>\n    <tr><td>serialNumber</td><td>Serial number</td></tr>\n    <tr><td>friendlyName</td><td>Custom Name</td></tr>\n    <tr><td>ipAddress</td><td>IP Address</td></tr>\n    <tr><td>scheduleName</td><td>Schedule Name</td></tr>\n    <tr><td>scheduleStatus</td><td>Schedule Status</td></tr>\n    <tr><td>lastResult</td><td>last data get result.</td></tr>\n    <tr><td>tagIds</td><td>Tag Ids</td></tr>\n  </table>\n\n●Check content\n  - Error for other than specified value"
              value:
                type: string
                description: "Filtering target strings <br> Strings that are Specifiable in filter key are as below.\n- Filtering target strings\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Specify input value</td></tr>\n    <tr><td>serialNumber</td><td>Specify input value</td></tr>\n    <tr><td>friendlyName</td><td>Specify input value</td></tr>\n    <tr><td>ipAddress</td><td>Specify input value</td></tr>\n    <tr><td>scheduleName</td><td>Specify input value</td></tr>\n    <tr><td>scheduleStatus</td><td>\n    <table border=\"1\">\n      <tr><td>available</td></tr>\n      <tr><td>notAvailable</td></tr>\n      <tr><td>notYet</td></tr>\n    </table></td></tr>\n    </td></tr>\n    <tr><td>lastResult</td><td>\n    <table border=\"1\">\n      <tr><td>success</td></tr>\n      <tr><td>failure</td></tr>\n      <tr><td>processing</td></tr>\n      <tr><td>reserved</td></tr>\n      <tr><td>notYet</td></tr>\n    </table></td></tr>\n    <tr><td>tagIds</td><td>Specify input value</td></tr>\n  </table>"
          description: Simple Filter
        orderBy:
          type: array
          items:
            required:
              - key
              - order
            type: object
            properties:
              key:
                type: string
                description: "Sort Key <br> Specifiable items are as below.\n- Sort Key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Model name</td></tr>\n    <tr><td>serialNumber</td><td>Serial number</td></tr>\n    <tr><td>friendlyName</td><td>Custom Name</td></tr>\n    <tr><td>ipAddress</td><td>IP Address</td></tr>\n    <tr><td>scheduleName</td><td>Schedule Name</td></tr>\n    <tr><td>scheduleStatus</td><td>Schedule Status(*1)</td></tr>\n    <tr><td>getNow</td><td>Date and time when \"Get Now\" is executed at last.</td></tr>\n    <tr><td>lastResult</td><td>last data get result.(*2)</td></tr>\n    <tr><td>lastAccess</td><td>last data get date and time.</td></tr>\n  </table>\n\n  *1) Priority of schedule status is as below.\n      <table border=\"1\">\n        <tr><th>Priority Order</th><th>Value</th></tr>\n          <tr><td>1</td><td>notAvailable</td></tr>\n          <tr><td>2</td><td>available</td></tr>\n          <tr><td>3</td><td>notYet</td></tr>\n      </table>\n      When \"ascending\" is specified in \"Sort order\", display the items in order from smallest priority value <br>\n\n  *2) Priority of the last data get result is as below.\n      <table border=\"1\">\n        <tr><th>Priority Order</th><th>Value</th></tr>\n        <tr><td>1</td><td>failure</td></tr>\n        <tr><td>2</td><td>success</td></tr>\n        <tr><td>3</td><td>processing</td></tr>\n        <tr><td>4</td><td>reserved</td></tr>\n        <tr><td>5</td><td>notYet</td></tr>\n      </table>\n      When \"ascending\" is specified in \"Sort order\", display the items in order from smallest priority value <br>\n\n●Check content\n  - Error for other than specified value"
              order:
                enum:
                  - ascending
                  - descending
                type: string
                description: "Sort Order <br>\n  - ascending: Ascending\n  - descending: Descending\n\n●Check content\n  - Error for other than specified value"
          description: Sort Specification
    getDataHistoryReq:
      required:
        - deviceId
      type: object
      properties:
        startIndex:
          type: integer
          description: "Start Index <br> ●Check content\n  - Error for other than numeric value"
          default: 0
        count:
          type: integer
          description: "Number of records <br> ●Check content\n  - Error for other than numeric value"
          default: 10
        deviceId:
          type: string
          description: "deviceId of target device.<br> ●Check content\n  - A null or empty string is an error."
        orderBy:
          type: array
          items:
            required:
              - key
              - order
            type: object
            properties:
              key:
                type: string
                description: "Sort Key <br> Specifiable items are as below.\n- Sort Key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>result</td><td>data get result.(*1)</td></tr>\n    <tr><td>timestamp</td><td>data get date and time.</td></tr>\n    <tr><td>dataType</td><td>data type.(*2)</td></tr>\n  </table>\n\n  *1) Priority of the last data get result is as below.\n      <table border=\"1\">\n        <tr><th>Priority Order</th><th>Value</th></tr>\n          <tr><td>1</td><td>failure</td></tr>\n          <tr><td>2</td><td>success</td></tr>\n      </table>\n      When \"ascending\" is specified in \"Sort order\", display the items in order from smallest priority value <br>\n\n  *2) Priority of the data type is as below.\n      <table border=\"1\">\n        <tr><th>Priority Order</th><th>Value</th></tr>\n          <tr><td>1</td><td>mfpdata</td></tr>\n          <tr><td>2</td><td>mfplog</td></tr>\n      </table>\n      When \"ascending\" is specified in \"Sort order\", display the items in order from smallest priority value <br>\n\n●Check content\n  - Error for other than specified value"
              order:
                enum:
                  - ascending
                  - descending
                type: string
                description: "Sort Order <br>\n  - ascending: Ascending\n  - descending: Descending\n\n●Check content\n  - Error for other than specified value"
          description: Sort Specification
    applyDataScheduleReq:
      required:
        - groupId
        - deviceIds
        - scheduleId
        - isExclude
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        deviceIds:
          type: array
          items:
            type: string
            description: "The deviceId of target device.<br> ●Check content\n  - A null is an error."
          description: "The deviceId list of target device.<br> ●Check content\n  - Empty list is allowed.\n  - A null is an error."
        scheduleId:
          type: string
          description: "Schedule ID to be set<br> Specify \"\"(empty string) in case of \"Get Now\"<br> ●Check content\n  - A null is an error."
        dataType:
          enum:
            - mfpdata
            - mfplog
          type: string
          description: "data type for \"Get Now\":\n  - `mfpdata` - MFP Data (FSS Data)\n  - `mfplog` - MFP Log\n\nThis field is required if scheduleId is an empty string."
        isExclude:
          type: boolean
          description: "Specify deviceIds details.\n  - true: deviceIds is unselected device.\n  - false: deviceIds is selected device.\n\n●Check content\n  - Error for other than true/false"
    setDataScheduleReq:
      required:
        - groupId
        - mode
        - deviceIds
        - isExclude
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        mode:
          type: string
          description: "mode<br>\n  - enable: Enable a configured schedule.\n  - disable: Disable a configured schedule."
        deviceIds:
          type: array
          items:
            type: string
            description: "The deviceId of target device.<br> ●Check content\n  - A null is an error."
          description: "The deviceId list of target device.<br> ●Check content\n  - Empty list is allowed.\n  - A null is an error."
        isExclude:
          type: boolean
          description: "Specify deviceIds details.\n  - true: deviceIds is unselected device.\n  - false: deviceIds is selected device.\n\n●Check content\n  - Error for other than true/false"
    removeDataScheduleReq:
      required:
        - groupId
        - deviceIds
        - isExclude
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        deviceIds:
          type: array
          items:
            type: string
            description: "The deviceId of target device.<br> ●Check content\n  - A null is an error."
          description: "The deviceId list of target device.<br> ●Check content\n  - Empty list is allowed.\n  - A null is an error."
        isExclude:
          type: boolean
          description: "Specify deviceIds details.\n  - true: deviceIds is unselected device.\n  - false: deviceIds is selected device.\n\n●Check content\n  - Error for other than true/false"
    getDataScheduleItemListReq:
      required:
        - groupId
      type: object
      properties:
        startIndex:
          type: integer
          description: "Start Index <br> ●Check content\n  - Error for other than numeric value"
          default: 0
        count:
          type: integer
          description: "Number of records <br> ●Check content\n  - Error for other than numeric value"
          default: 10
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
    addDataScheduleItemReq:
      required:
        - groupId
        - scheduleName
        - dataType
        - timeZone
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        scheduleName:
          type: string
          description: "Schedule Name<br> ●Check content\n  - A null or empty string is an error.\n  - Printable characters including multi-byte characters can be specified."
        dataType:
          enum:
            - mfpdata
            - mfplog
          type: string
          description: "data type:\n  - `mfpdata` - MFP Data (FSS Data)\n  - `mfplog` - MFP Log"
        timeZone:
          type: string
          description: Timezone
        executeStartDate:
          type: string
          description: executeStartDate<br>The format is "yyyymmdd".<br> This field is required if dataType is "mfpdata".
        recurrence:
          enum:
            - 1
            - 2
          type: number
          description: "recurrence:\n  - 1: DAY\n  - 2: WEEK\n\nThis field is required if dataType is \"mfpdata\"."
        dayOfWeek:
          type: array
          items:
            type: number
          description: 'Any value from [1-7] If recurrence is WEEK.<br> This field is required if dataType is "mfpdata".'
        timeList:
          type: array
          items:
            type: object
            properties:
              hour:
                type: number
                description: hour
              minute:
                type: number
                description: minute
          description: timeList<br> This field is required if dataType is "mfpdata".
        oneShotExecuteTimestamp:
          type: integer
          description: One-shot schedule execution date and time.<br> This field is required if dataType is "mfplog".
          format: int64
    updateDataScheduleItemReq:
      required:
        - groupId
        - scheduleId
        - scheduleName
        - dataType
        - timeZone
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        scheduleId:
          type: string
          description: "scheduleId of target data get schedule.<br> ●Check content\n  - A null or empty string is an error."
        scheduleName:
          type: string
          description: "Schedule Name<br> ●Check content\n  - A null or empty string is an error.\n  - Printable characters including multi-byte characters can be specified."
        dataType:
          enum:
            - mfpdata
            - mfplog
          type: string
          description: "data type:<br>\n  * `mfpdata` - MFP Data (FSS Data)\n  * `mfplog` - MFP Log"
        timeZone:
          type: string
          description: Timezone
        executeStartDate:
          type: string
          description: executeStartDate<br>The format is "yyyymmdd".<br> This field is required if dataType is "mfpdata".
        recurrence:
          enum:
            - 1
            - 2
          type: number
          description: "recurrence:\n  - 1: DAY\n  - 2: WEEK\n\nThis field is required if dataType is \"mfpdata\"."
        dayOfWeek:
          type: array
          items:
            type: number
          description: 'Any value from [1-7] If recurrence is WEEK.<br> This field is required if dataType is "mfpdata".'
        timeList:
          type: array
          items:
            type: object
            properties:
              hour:
                type: number
                description: hour
              minute:
                type: number
                description: minute
          description: timeList<br> This field is required if dataType is "mfpdata".
        oneShotExecuteTimestamp:
          type: integer
          description: One-shot schedule execution date and time.<br> This field is required if dataType is "mfplog".
          format: int64
    deleteDataScheduleItemReq:
      required:
        - groupId
        - scheduleIds
        - isExclude
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        scheduleIds:
          type: array
          items:
            type: string
            description: "scheduleId of target data schedule.<br> ●Check content\n  - A null is an error."
          description: "The scheduleId list of target data schedule.<br> ●Check content\n  - Empty list is allowed.\n  - A null is an error."
        isExclude:
          type: boolean
          description: "Specify scheduleIds details.\n  - true: scheduleIds is unselected schedule.\n  - false: scheduleIds is selected schedule.\n\n●Check content\n  - Error for other than true/false"
    getRemoteDiagListReq:
      required:
        - groupId
      type: object
      properties:
        startIndex:
          type: integer
          description: "Start Index <br> ●Check content\n  - Error for other than numeric value"
          default: 0
        count:
          type: integer
          description: "Number of records <br> ●Check content\n  - Error for other than numeric value"
          default: 10
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        simpleFilters:
          type: array
          items:
            required:
              - key
              - value
            type: object
            properties:
              key:
                type: string
                description: "Filter key<br> Specifiable items are as below. - Filter key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Model name</td></tr>\n    <tr><td>serialNumber</td><td>Serial number</td></tr>\n    <tr><td>friendlyName</td><td>Custom Name</td></tr>\n    <tr><td>ipAddress</td><td>IP Address</td></tr>\n    <tr><td>diagName</td><td>Maintenance Name</td></tr>\n    <tr><td>diagSimNo</td><td>Maintenance Sim No</td></tr>\n    <tr><td>diagDataNo</td><td>Maintenance Data No</td></tr>\n    <tr><td>diagValue</td><td>Maintenance Value</td></tr>\n    <tr><td>lastResult</td><td>Last Remote maintenance result</td></tr>\n    <tr><td>tagIds</td><td>Tag Ids</td></tr>\n  </table>\n\n●Check content\n  - Error for other than specified value"
              value:
                type: string
                description: "Filtering target strings <br> Strings that are Specifiable in filter key are as below.\n- Filtering target strings\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Specify input value</td></tr>\n    <tr><td>serialNumber</td><td>Specify input value</td></tr>\n    <tr><td>friendlyName</td><td>Specify input value</td></tr>\n    <tr><td>ipAddress</td><td>Specify input value</td></tr>\n    <tr><td>diagName</td><td>Specify input value</td></tr>\n    <tr><td>diagSimNo</td><td>Supported Sim No.</td></tr>\n    <tr><td>diagDataNo</td><td>Specify input value</td></tr>\n    <tr><td>diagValue</td><td>Specify input value</td></tr>\n    <tr><td>lastResult</td><td>\n      <table border=\"1\">\n        <tr><td>requested</td></tr>\n        <tr><td>success</td></tr>\n        <tr><td>failure</td></tr>\n        <tr><td>ready</td></tr>\n        <tr><td>notYet</td></tr>\n      </table>\n    </td></tr>\n    <tr><td>tagIds</td><td>Specify input value</td></tr>\n  </table>"
          description: Simple Filter
        orderBy:
          type: array
          items:
            required:
              - key
              - order
            type: object
            properties:
              key:
                type: string
                description: "Sort Key <br> Specifiable items are as below.\n- Sort Key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Model name</td></tr>\n    <tr><td>serialNumber</td><td>Serial number</td></tr>\n    <tr><td>friendlyName</td><td>Custom Name</td></tr>\n    <tr><td>ipAddress</td><td>IP Address</td></tr>\n    <tr><td>diagName</td><td>Maintenance Name</td></tr>\n    <tr><td>diagSimNo</td><td>Maintenance Sim No</td></tr>\n    <tr><td>diagDataNo</td><td>Maintenance Data No</td></tr>\n    <tr><td>diagValue</td><td>Maintenance Value</td></tr>\n    <tr><td>lastResult</td><td>Last Remote maintenance result(*1)</td></tr>\n    <tr><td>nextDiag</td><td>Execution reserved date and time</td></tr>\n    <tr><td>lastDiag</td><td>Last Remote maintenance execution date and time</td></tr>\n  </table>\n\n  *1) Priority of the Last Remote maintenance result is as below.\n      <table border=\"1\">\n        <tr><th>Priority Order</th><th>Value</th></tr>\n          <tr><td>1</td><td>failure</td></tr>\n          <tr><td>2</td><td>requested</td></tr>\n          <tr><td>3</td><td>success</td></tr>\n          <tr><td>4</td><td>ready</td></tr>\n          <tr><td>5</td><td>notYet</td></tr>\n      </table>\n      When \"ascending\" is specified in \"Sort order\", display the items in order from smallest priority value <br>\n\n●Check content\n  - Error for other than specified value"
              order:
                enum:
                  - ascending
                  - descending
                type: string
                description: "Sort Order <br>\n  - ascending: Ascending\n  - descending: Descending\n\n●Check content\n  - Error for other than specified value"
          description: Sort Specification
    getRemoteDiagHistoryReq:
      required:
        - deviceId
      type: object
      properties:
        startIndex:
          type: integer
          description: "Start Index <br> ●Check content\n  - Error for other than numeric value"
          default: 0
        count:
          type: integer
          description: "Number of records <br> ●Check content\n  - Error for other than numeric value"
          default: 10
        deviceId:
          type: string
          description: "deviceId of target device.<br> ●Check content\n  - A null or empty string is an error."
        orderBy:
          type: array
          items:
            required:
              - key
              - order
            type: object
            properties:
              key:
                type: string
                description: "Sort Key <br> Specifiable items are as below.\n- Sort Key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>diagSimNo</td><td>Maintenance Sim No</td></tr>\n    <tr><td>diagDataNo</td><td>Maintenance Data No</td></tr>\n    <tr><td>diagValue</td><td>Maintenance Value</td></tr>\n    <tr><td>result</td><td>Remote maintenance result(*1)</td></tr>\n    <tr><td>timestamp</td><td>Remote maintenance execution date and time</td></tr>\n  </table>\n\n  *1) Priority of the Last Remote maintenance result is as below.\n      <table border=\"1\">\n        <tr><th>Priority Order</th><th>Value</th></tr>\n          <tr><td>1</td><td>failure</td></tr>\n          <tr><td>2</td><td>requested</td></tr>\n          <tr><td>3</td><td>ready</td></tr>\n          <tr><td>4</td><td>success</td></tr>\n      </table>\n      When \"ascending\" is specified in \"Sort order\", display the items in order from smallest priority value <br>\n\n●Check content\n  - Error for other than specified value"
              order:
                enum:
                  - ascending
                  - descending
                type: string
                description: "Sort Order <br>\n  - ascending: Ascending\n  - descending: Descending\n\n●Check content\n  - Error for other than specified value"
          description: Sort Specification
    applyRemoteDiagReq:
      required:
        - groupId
        - deviceIds
        - diagId
        - isExclude
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        deviceIds:
          type: array
          items:
            type: string
            description: "The deviceId of target device.<br> ●Check content\n  - A null is an error."
          description: "The deviceId list of target device.<br> ●Check content\n  - Empty list is allowed.\n  - A null is an error."
        diagId:
          type: string
          description: "Diag ID to be set<br> ●Check content\n  - A null or empty string is an error."
        isExclude:
          type: boolean
          description: "Specify deviceIds details.\n  - true: deviceIds is unselected device.\n  - false: deviceIds is selected device.\n\n●Check content\n  - Error for other than true/false"
    setRemoteDiagReq:
      required:
        - groupId
        - deviceIds
        - isExclude
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        deviceIds:
          type: array
          items:
            type: string
            description: "The deviceId of target device.<br> ●Check content\n  - A null is an error."
          description: "The deviceId list of target device.<br> ●Check content\n  - Empty list is allowed.\n  - A null is an error."
        isExclude:
          type: boolean
          description: "Specify deviceIds details.\n  - true: deviceIds is unselected device.\n  - false: deviceIds is selected device.\n\n●Check content\n  - Error for other than true/false"
    removeRemoteDiagReq:
      required:
        - groupId
        - deviceIds
        - isExclude
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        deviceIds:
          type: array
          items:
            type: string
            description: "The deviceId of target device.<br> ●Check content\n  - A null is an error."
          description: "The deviceId list of target device.<br> ●Check content\n  - Empty list is allowed.\n  - A null is an error."
        isExclude:
          type: boolean
          description: "Specify deviceIds details.\n  - true: deviceIds is unselected device.\n  - false: deviceIds is selected device.\n\n●Check content\n  - Error for other than true/false"
    getRemoteDiagItemListReq:
      required:
        - groupId
      type: object
      properties:
        startIndex:
          type: integer
          description: "Start Index <br> ●Check content\n  - Error for other than numeric value"
          default: 0
        count:
          type: integer
          description: "Number of records <br> ●Check content\n  - Error for other than numeric value"
          default: 10
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
    addRemoteDiagItemReq:
      required:
        - groupId
        - diagName
        - diagSimType
        - diagSimNo
        - diagDataNo
        - diagValue
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        diagName:
          type: string
          description: "Maintenance Name<br> ●Check content\n  - A null or empty string is an error.\n  - Printable characters including multi-byte characters can be specified."
        diagSimType:
          type: string
          description: "Maintenance Sim Type<br>\n  - set: Sim setting\n  - exec: Sim execution"
        diagSimNo:
          type: string
          description: "Maintenance Sim No<br> ●Check content<br>\n  Any value other than the specifiable value will be an error. <br>\n  - Sim setting: 2602, 2603, 2605, 2618, 2629, 2635, 2638, 2649, 2653, 2665, 2669, 2704, 2707, 2709, 4404, 4428\n  - Sim execution: 1400, 1500, 1600, 2401, 2402, 2403, 2710, 4406, 4417, 4426, 4462, 5022, 6206, 6308, 6728, 10010"
        diagDataNo:
          type: string
          description: "Maintenance Data No<br> empty String, when there is not data number in Sim.<br> ●Check content\n  - Sim setting: Anything other than empty string and \"1\" to \"99\" is an error.\n  - Sim execution: Anything other than empty string and \"1\" to \"255\" is an error."
        diagValue:
          type: string
          description: "Maintenance Value<br> empty String, when there is not value in Sim.<br> ●Check content\n  - Sim setting: Anything other than empty string and \"0\" to \"1023\" is an error.\n  - Sim execution: Anything other than empty string and \"0\" to \"255\" is an error."
    updateRemoteDiagItemReq:
      required:
        - groupId
        - diagId
        - diagName
        - diagSimType
        - diagSimNo
        - diagDataNo
        - diagValue
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        diagId:
          type: string
          description: "diagId of target Remote maintenance Item.<br> ●Check content\n  - A null or empty string is an error."
        diagName:
          type: string
          description: "Maintenance Name<br> ●Check content\n  - A null or empty string is an error.\n  - Printable characters including multi-byte characters can be specified."
        diagSimType:
          type: string
          description: "Maintenance Sim Type<br>\n  - set: Sim setting\n  - exec: Sim execution"
        diagSimNo:
          type: string
          description: "Maintenance Sim No<br> ●Check content<br>\n  Any value other than the specifiable value will be an error. <br>\n  - Sim setting: 2602, 2603, 2605, 2618, 2629, 2635, 2638, 2649, 2653, 2665, 2669, 2704, 2707, 2709, 4404, 4428\n  - Sim execution: 1400, 1500, 1600, 2401, 2402, 2403, 2710, 4406, 4417, 4426, 4462, 5022, 6206, 6308, 6728, 10010"
        diagDataNo:
          type: string
          description: "Maintenance Data No<br> empty String, when there is not data number in Sim.<br> ●Check content\n  - Sim setting: Anything other than empty string and \"1\" to \"99\" is an error.\n  - Sim execution: Anything other than empty string and \"1\" to \"255\" is an error."
        diagValue:
          type: string
          description: "Maintenance Value<br> empty String, when there is not value in Sim.<br> ●Check content\n  - Sim setting: Anything other than empty string and \"0\" to \"1023\" is an error.\n  - Sim execution: Anything other than empty string and \"0\" to \"255\" is an error."
    deleteRemoteDiagItemReq:
      required:
        - groupId
        - diagIds
        - isExclude
      type: object
      properties:
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        diagIds:
          type: array
          items:
            type: string
            description: "diagId of target Remote maintenance Item.<br> ●Check content\n  - A null is an error."
          description: "The diagId list of target Remote maintenance Item.<br> ●Check content\n  - Empty list is allowed.\n  - A null is an error."
        isExclude:
          type: boolean
          description: "Specify diagIds details.\n  - true: diagIds is unselected remote maintenance item.\n  - false: diagIds is selected remote maintenance item.\n\n●Check content\n  - Error for other than true/false"
    getFirmwareUpdateListReq:
      required:
        - groupId
      type: object
      properties:
        startIndex:
          type: integer
          description: "Start Index <br> ●Check content\n  - Error for other than numeric value"
          default: 0
        count:
          type: integer
          description: "Number of records <br> ●Check content\n  - Error for other than numeric value"
          default: 10
        groupId:
          type: string
          description: "groupId of target group.<br> ●Check content\n  - A null or empty string is an error."
        simpleFilters:
          type: array
          items:
            required:
              - key
              - value
            type: object
            properties:
              key:
                type: string
                description: "Filter key<br> Specifiable items are as below. - Filter key list\n  <table border=\"1\">\n    <tr><th>Key</th><th>Description</th></tr>\n    <tr><td>modelName</td><td>Model name</td></tr>\n    <tr><td>serialNumber</td><td>Serial number</td></tr>\n    <tr><td>friendlyName</td><td>Custom Name</td></tr>\n    <tr><td>ipAddress</td><td>IP Address</td></tr>\n    <tr><td>fileTitle</td><td>Firmware Name</td></tr>\n    <tr><td>updateStatus</td><td>Last status</td></tr>\n    <tr><td>firmwareVersion</td><td>Current Firmware version</td></tr>\n    <tr><td>tagIds</td><td>Tag Ids</td></tr>\n    <tr><td>otaMode</td><td>Current OTA Mode</td></tr>\n    <tr><td>otaSettingStatus</td><td>OTA Setting Status</td></tr>\n  </table>\n\n●Check content\n  - Error for other than specified value"
              value:
                type: string
[...]
