openapi: 3.0.1
info:
  title: Mib-API
  description: This is specification doc for RMM basic functions
  version: '1.0'
servers:
  - url: https://rmm-mfpdev-apim.azure-api.net/rmm
paths:
  /account/login:
    post:
      tags:
        - RMM Account Services
      summary: Retrieve jwt token for the login user containing the PermissionList & Groups for which user has access to
      description: Retrieve jwt token for the login user containing the PermissionList & Groups for which user has access to
      operationId: post-account-login
      responses:
        '200':
          description: 'Returns the Login Response containing Session token,status & expire time with token containing permission list'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loginRes'
              example:
                status: Success
                token: eyJraWQiOiJSRmRTNE5uOHp0N1VGNFNTZ3VIZVdPYjlLN0JobTA2ODdBVGJDcjJwNWxNPSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiJhNDJhODgxMy1mYzg5LTRlYjctOTY5Yi04NGI2Zjc2ZTFjOGQiLCJjb2duaXRvOmdyb3VwcyI6WyIzOWRlZjk4My0wZDgxLTRiYzUtODEzYi1lN2NmNGJhNGJkZTk6c2lyZWVzaGFjaGl0dGk5N0BnbWFpbC5jb206YjlkZGRjZDItZmM4OC00NjBkLWE5NWItMmE1OGRlZTI3ZTc2Il0sImV2ZW50X2lkIjoiNDFkMjc5YzUtYzRkOC00YWZjLWJhOGEtYzM4YTFkYjdkNjhlIiwidG9rZW5fdXNlIjoiYWNjZXNzIiwic2NvcGUiOiJhd3MuY29nbml0by5zaWduaW4udXNlci5hZG1pbiIsImF1dGhfdGltZSI6MTU5MTExODY3NCwiaXNzIjoiaHR0cHM6XC9cL2NvZ25pdG8taWRwLnVzLWVhc3QtMS5hbWF6b25hd3MuY29tXC91cy1lYXN0LTFfMXg4V3lOSWZWIiwiZXhwIjoxNTkxMTIyMjc0LCJpYXQiOjE1OTExMTg2NzQsImp0aSI6ImRmZTQxMmNlLThlYTUtNGI0Mi1hN2EwLWJiM2FmOTAyNjRjYSIsImNsaWVudF9pZCI6IjI5b3Nzbmc4aG02ZDUycmk3NW1pMzQwdTZoIiwidXNlcm5hbWUiOiJhNDJhODgxMy1mYzg5LTRlYjctOTY5Yi04NGI2Zjc2ZTFjOGQifQ.ezH6XfqinmAe9QSinBxNWcQBRGkKGh4zYPQ5iLnP5Rfn_hgSpAYuY3JXHXn3Igj_e7Pof8ESgn1cgV-iC-yWwCsHx7vnGfi7DCqsq4OrH0SZVybuPOYlvhis0y90miCQrVqmAsBeqypcGlRiCthdz4xMeKDP3HlyPBgysmtr3TMzaFhNkgt7Pyy839hlchmoAkvl7ognRuIhHUz9pQcxN1bL_b_XHjJeBKbEbfu5KTYq8gKUAg98TJIMovepIRMWN4J1GxOYHckXJaN34ylSAdAoI89lK1dsRvVLPrrzppPbfRHQR1socduoRs1yidJj3pvj9YzMNSqwYP2OyF55FA
                refreshToken: eyJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.ay_MsAbrNmfwFOvS_Hr13ZDzBpU0HDbEk42VM5SwJZE5ehYS3V5QAgxTzixCunCCf5Hw4q9tDopOMoFTTR_dhG_d_JWGzeJrO2H1gcBtoa_6N3ZC7BJDWYYcHdlkR55ujCZnyI3V90-OiQRllX0pRpsiWV-rQQ4Sl1WEDfDmz09bjxDBWJdbJkCGqzpf1FEsD-xLEP7m4M4jssLW0MhYH2P3D7jmZNCf7GHeXo5Bc8k2oeC6BnEHkJSNl9sbNrGPXdWJoe6Oe5yqzpiYf6bMJ6AqH-PhLHOkC9w87gc0aQSNJALOM8fWuz-de16CSKlQB9S7TqTS0RbfcGubz_qhgA.2XO6iyR5X9r7zQTt.Y3JRQQDvlhRkj6rbDMlpPSaSTa7oKfjCRxBTxNXeCMzwAzHLF7yHlJphhRag_22KoVMSHBDWbG09BTvAKvGgED7ttrRJVC4dOr7en-VMQjJIxjl7hx3DPnJx4o-un48nvKAQyqIokrCJF_vCeepMralS01UUzipM3ZZQSHxr7eNlyFs9VvPRabpNgbRyuQoXY8xAXC097GZr_4O5nUa164nDiyDfMnWqO-lxB85v5bvlyEWxz5HPr_VJkeOyB7dM5r3Uj-_cMcYAoUhVYIcCkRdnypo6oz-JmJekViGKKDmsKLZRBXdyZBTNTm5G5CUA_EMIa6KPG-l1XmrF9ZgMS5OLLCACKlrtrndo9n9AfFBcBlnX87ztKsKu_jNhwnEr5Q1M_OTpQyf3NFLGlyeq-TDOLrVFloN4RJ89iF-0cGPrO3kKJq_krkn0nN1Mpws8ysbxPmLMdxbmDVuFwjUHFABohfIB0V_pEB5VtqYRnA2DrV5r02J9eqlpw6UPIrt2WcFpRcMLwMZMiRFLkWbtIVZu_7zXSHBNpZQp8xYogWWUGJ7Re_8ZO-ljmBuNuolnhVwXQUlaTF7dzZdzDJ3hg5l3zjroCbvb9oSpY1IA1t-4GoPcjAsOF8sqo3jpInGQfQwXReHXcEq7bI4fBgNz0Y--JNFEmSKDgkpg1CoC9ovrg5hg8Vzr0JavAJInLYVzmMjHNv5siFRUfDHGcA1nWVFT_GgvvUVc6dOzzmrfO7J0rizkQhUAx6u8bARYYB9I8MiHHYcrS3VV_UYHbg7bHj7CMU5cZgk6q6na8RQYrejhBixWoKpxO0WbIXTvNBflpTssTHSfRh519xLfCUqpL1Qk8B1aK-GnvMlwjwbz8wogSU89TeQ95UdBN0L230h-r0xnR87dAt3xllfJufUCfzovgKghM-MaQcBO0jNQgVoc8NYkg6g_eyEjc1wYNkaSHrCwpF-NcSgJJSRplZUyxkuX-OPGR7s1CFvNTU2AXY7Qx4S8-ezksRRv-oa5T_ym8-9fxTjU_7z9Iw6faMdUgbb5Piosg2FlgOJma96OVz6AS_1nyI0Hz5UkWMv9yyz1OyyZrlSO1dDV06KwaMt0M3uidQRVGNNk2O8Gu3v_KphnQI9PoEVMde1Q1vA2d2Dw6ISm3AGnxCJn9M6EjbIwRQFvFXRvntEYTT-oS-GI-xHz_ZlwvyK6e6qvWD2-zhiO_i5CPtrXupotYKynL8xuy-kiVGgb8wNrjVox0trF2eA8bvSWvQtD_HUZ7v9y5_W0RxXBYAtXQnEesL4pGmVJtez4VHFi0Cy2ss5nyv9NX8R6bYTXshVWSap4SA.LnBjsR3ZPaTBfvDASHe_oA
                expiryTime: 158997596
  /account/logout:
    post:
      tags:
        - RMM Account Services
      summary: Revoke/Invalidates jwt token of the login user
      description: Revoke/Invalidates jwt token of the login user
      operationId: post-account-logout
      responses:
        '200':
          description: 'Returns the Login Response containing Session token, status & expire time'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logoutRes'
              example:
                status: success
  /group/updateMessage:
    post:
      summary: get the updated status checkprogress request id.
      description: get the updated status checkprogress request id.
      operationId: post-updatemessage
      responses:
        '200':
          description: Update the reponse of check progress state
  /login-iot:
    post:
      summary: get the uni-agnet login response.
      description: get the uni-agnet login response.
      operationId: post-login-iot
      responses:
        '200':
          description: Returns the un-agent login response.
  /group/createMessage:
    post:
      summary: Update the reponse of check progress state
      description: Update the reponse of check progress state
      operationId: post-createmessage
      responses:
        '200':
          description: create checkprogress requestid.
  /mail/mailAlertProcessor:
    post:
      summary: mailAlertProcessor
      description: mailAlertProcessor
      operationId: post-mailalertprocessor
      responses:
        '200':
          description: Process MIB mail alerts.
  /mail/sendmail:
    post:
      summary: send mail
      description: send mail
      operationId: post-sendmail
      responses:
        '200':
          description: send status mail.
  /tenant/add:
    post:
      tags:
        - Tenant Operations
      summary: rmm-tenant-addition
      description: rmm-tenant-addition
      operationId: post-rmm-tenant-addition
      responses:
        '200':
          description: add tenant related info.
  /device/getDeviceList:
    post:
      tags:
        - Device Operations
      summary: Get Device list
      description: Return the device list i.e. registered in specified group
      operationId: post-device-getdevicelist
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getDeviceListRq'
            example:
              startIndex: 0
              count: 10
              groupId: string
              filterId: string
              attribute: managed
              deviceType: mfp
              simpleFilters:
                - key: string
                  value: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Get Device list result <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                deviceList:
                  - _id: string
                    type: mfp
                    createTimestamp: 0
                    attribute: string
                    relatedGroupId: string
                    communicationStatus: string
                    tagIds:
                      - string
                    deviceGeneral:
                      relatedAgentId: string
                      modelName: string
                      friendlyName: string
                      serialNumber: string
                      dispErrorCode: 10
                    printerDevice:
                      connectionSetting:
                        ipAddress:
                          value: string
                          ipToLong: 0
                      macAddress: string
                      deviceImage:
                        url: string
                        height: string
                        width: string
                      statusCode: 0
                      troubleCode: 0
                      dskFlag: true
                      location: string
                      description: string
                      firmwareVersion: string
                      subnetMask: string
                      driverIdList:
                        - string
                      gateway: string
                      lastStatusUpdate: 0
                      lastSuppliesUpdate: 0
                      lastCounterUpdate: 0
                      lastBasicUpdate: 0
                      lifeCount: 0
                      deviceTypeSetting: string
                      deviceTypeSettingCategory: 0
                      detectedDeviceType: string
                      status:
                        - string
                      inTrayList: { }
                      markerList: { }
                      maintenanceCodeList: { }
                      serviceCodeList: { }
                    agentName: string
                    scheduleId: string
                    scheduleName: string
  /device/getDeviceDetail:
    post:
      tags:
        - Device Operations
      summary: Get Device detail information
      description: Return the device details informaiton
      operationId: post-device-getdevicedetail
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getDeviceDetailRq'
            example:
              deviceId: string
              groupId: string
      responses:
        '200':
          description: Get Device detail information result <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceDetailRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                _id: string
                createTimestamp: 0
                type: string
                communicationStatus: string
                tagNames:
                  - string
                agentName: string
                scheduleName: string
                deviceGeneral:
                  modelName: string
                  serialNumber: string
                  familyName: string
                  friendlyName: string
                  dispErrorCode: 10
                printerDevice:
                  connectionSetting:
                    ipAddress:
                      value: string
                      ipToLong: 0
                    snmpSetting:
                      snmpVersion: string
                      retry: 0
                      timeout: 0
                      getCommunityString: string
                      contextName: string
                      userName: string
                      securityAuthType: string
                      securityAuthKey: string
                      securityPrivType: string
                      securitiPrivKey: string
                  location: string
                  description: string
                  dskFlag: true
                  macAddress: string
                  firmwareVersion: string
                  driverIdList:
                    - string
                  deviceTypeSetting: string
                  detectedDeviceType: string
                  lifeCount: 0
                  maintainenceCodeList: { }
                  serviceCodeList: { }
                  lastSuppliesUpdate: 0
                  deviceImage:
                    url: string
                    height: string
                    width: string
                  subnetMask: string
                  gateway: string
                  lastStatusUpdate: 0
                  status:
                    - string
                  outTrayList: { }
                  inTrayList: { }
                  markerList: { }
                  disposalMarkerList: { }
                  lastCounterUpdate: 0
                  counter: { }
                  lastBasicUpdate: 0
                  basicInfo: { }
                  service:
                    print:
                      descriptionLanguageList:
                        - descriptionLanguage: { }
                  alertList:
                    - { }
                  production:
                    HFSIList:
                      - HFSIIndex: 0
                        HFSIChainLink: string
                        HFSILifeSpec: 0
                        HFSICurrentLife: 0
                    billingMeterList:
                      - BillingMeterId: 0
                        BillingMeterCount: 0
  /device/getDeviceLog:
    post:
      tags:
        - Device Operations
      summary: Get Device log
      description: Return the device log list i.e. registered in specified group
      operationId: post-device-getdevicelog
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getDeviceLogsRq'
            example:
              groupId: string
              type: mib
              startIndex: 0
              count: 0
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Get Device log list result <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceLogsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                opeLogList:
                  - logId: string
                    type: mib
                    targetGroupId: string
                    timestamp: 0
                    operation: string
                    modelName: string
                    ipAddress: string
                    serialNumber: string
                    securityOption: string
                    customName: string
                    result: string
                    itemList:
                      - item: string
                        value: string
                    checkResult: string
                    securityList:
                      - securityType: string
                        deviceSettings: string
                        policySettings: string
                        category: string
                        item: string
  /device/startDiscovery:
    post:
      tags:
        - Device Operations
      summary: Executes device discovery
      description: 'Executes device discovery for specified group with discovery condition set on each agent(TODOs:agent operation APIs, Device registration APIs )'
      operationId: post-device-startdiscovery
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/startDiscoveryRq'
            example:
              groupId: string
              agentId: string
              requestOwnerId: string
      responses:
        '200':
          description: Gets Discovered devices <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/startDiscoveryRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                timeout: 0
  /device/startQuickDeviceDiscovery:
    post:
      tags:
        - Device Operations
      summary: Executes device discovery Temporary
      description: Executes device discovery Temporary for specified group with Temorary discovery condition
      operationId: post-device-startquickdevicediscovery
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/startQuickDeviceDiscoveryRq'
            example:
              groupId: string
              discoveryCondition:
                useFlag: true
                conditionId: string
              ipAddress:
                useFlag: true
                ipAddresses: string
              snmpCredential:
                snmpV1:
                  getcommunity: string
                  useFlag: true
                snmpV3:
                  contextName: string
                  userName: string
                  securityAuthKey: string
                  securityAuthType: string
                  securityPrivKey: string
                  securityPrivType: string
                  securityAuthChgFlag: true
                  securityPrivChgFlag: true
                  useFlag: true
      responses:
        '200':
          description: Gets Discovered device<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/startQuickDeviceDiscoveryRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                timeout: 0
  /device/startRegisterDevice:
    post:
      tags:
        - Device Operations
      summary: ' Device Registration '
      description: Performs the device registration operation for the specified devices (use checkProgress to confirm the execution status & getOperationResult to confirm execution result)
      operationId: post-device-startregisterdevice
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/startRegisterDeviceRq'
            example:
              groupId: string
              isExclude: true
              deviceIds:
                - string
      responses:
        '200':
          description: Returns the RequestId<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/startRegisterDeviceRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
  /device/startStatusUpdate:
    post:
      tags:
        - Device Operations
      summary: Executes device status update
      description: 'Executes device statusupdate for specified group '
      operationId: post-device-startstatusupdate
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/startStatusUpdateRq'
            example:
              groupId: string
              deviceIds:
                - string
              category: status
              isExclude: true
      responses:
        '200':
          description: Gets Status update device Ids <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/startStatusUpdateRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                targetDeviceIds:
                  - string
  /device/getDeviceCount:
    post:
      tags:
        - Device Operations
      summary: Retrieves number of devices for a specific group
      description: Retrieves number of devices for a specific group
      operationId: post-device-getdevicecount
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getDeviceCountRq'
            example:
              groupId: string
              attribute: new
              totalFlag: true
              errorFlag: true
              warningFlag: true
              noResponseFlag: true
              normalFlag: true
              printerErrorFlag: true
              paperNotAvailableFlag: true
              tonerLowFlag: true
              tonerNotAvailableFlag: true
              nearOverduePreventMaintenanceFlag: true
              overduePreventMaintenanceFlag: true
              paperJamFlag: true
      responses:
        '200':
          description: Gets Number of devices for a specific group<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceCountRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                totalFlag: true
                totalCount: 0
                errorFlag: true
                errorCount: 0
                warningFlag: true
                warningCount: 0
                noResponseFlag: true
                noResponseCount: 0
                normalFlag: true
                normalCount: 0
                printerErrorFlag: true
                printerErrorCount: 0
                paperNotAvailableFlag: true
                paperNotAvailableCount: 0
                tonerLowFlag: true
                tonerLowCount: 0
                tonerNotAvailableFlag: true
                tonerNotAvailableCount: 0
                nearOverduePreventMaintenanceFlag: true
                nearOverduePreventMaintenanceCount: 0
                overduePreventMaintenanceFlag: true
                overduePreventMaintenanceCount: 0
                paperJamFlag: true
                paperJamCount: 0
  '/device/status/count/{groupId}':
    get:
      tags:
        - Device Operations
      summary: Get the count of devices with specific statuses
      description: 'Retrieves the count of devices which went to specific error or warning state from last visit. Supported categories for MFPs are "Device Status", "Communication Status", "Toner Status", "Security Status". For Displays it supports "Device Status" '
      operationId: getDeviceCountByStatus
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Gets Number of devices based on their status for a specific group<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceStatusCountRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                mfpStatus:
                  deviceStatus:
                    totalErrors: 0
                    newErrors: 0
                    totalWarnings: 0
                    newWarnings: 0
                    normal: 0
                  communicationStatus:
                    totalErrors: 0
                    newErrors: 0
                    normal: 0
                  tonerStatus:
                    totalErrors: 0
                    newErrors: 0
                    totalWarnings: 0
                    newWarnings: 0
                    normal: 0
                  deviceSecurityStatus:
                    totalErrors: 0
                    newErrors: 0
                    totalWarnings: 0
                    newWarnings: 0
                    normal: 0
                displayStatus:
                  deviceStatus:
                    totalErrors: 0
                    newErrors: 0
                    totalWarnings: 0
                    newWarnings: 0
                    normal: 0
                    communicationStatus: 0
  '/device/status/list/{groupId}':
    get:
      tags:
        - Device Operations
      summary: 'Get the device list based on their status '
      description: 'Retrieves the list of devices which went to specific error or warning state from last visit. Supported categories for MFPs are "Device Status", "Communication Status", "Toner Status", "Security Status" For Displays it supports "Device Status". If there are no devices with specific error or warning state, it returns empty list'
      operationId: getDeviceListByStatus
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: statusType
          in: query
          description: "statusType:\n  * '1' - mfp/printers Status\n  * '2' - Communication Status\n  * '3' - Toner Status\n  * '4' - Security Status \n  * '5' - Display Status"
          required: true
          schema:
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
            type: integer
      responses:
        '200':
          description: Gets devices based on their status for a specific group<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceListBystatusRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                statusDeviceList:
                  - _id: string
                    statusCode: 0
                    isNew: true
                    tonerStatus: string
                    communicationStatus: string
                    securityStatus: 1
                    tagNames:
                      - string
                    deviceGeneral:
                      modelName: string
                      friendlyName: string
                      ipAddress: string
                      serialNumber: string
                statusDisplayList:
                  - _id: string
                    communicationStatus: string
                    deviceStatus: string
                    isNew: true
                    tagNames:
                      - string
                    deviceGeneral:
                      modelName: string
                      friendlyName: string
                      serialNumber: string
                      ipAddress: string
  /device/dashboard/conf:
    put:
      tags:
        - Device Operations
      summary: Update the Dashbard last access times for each summary graph
      description: Update the Dashbard last access times for each summary graph
      operationId: dashboardLastAccess
      parameters:
        - name: statusType
          in: query
          description: "statusType:\n * 1 - mfp/printers Status\n * 2 - Communication Status\n * 3 - Toner Status\n * 4 - Security Status \n * 5 - Display Status"
          required: true
          schema:
            enum:
              - 1
              - 2
              - 3
              - 4
              - 5
            type: integer
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dashboardLastAccessRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /device/startRemoveDevice:
    post:
      tags:
        - Device Operations
      summary: 'Remove Devices '
      description: 'Removes devices from trash,Moves the devices to trash,Restore devices from trash (use checkProgress to confirm the execution status & getOperationResult to confirm execution result)'
      operationId: post-device-startremovedevice
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/startRemoveDeviceRq'
            example:
              groupId: string
              operation: moveTrash
              deleteFromSearchCondition: string
              isExclude: true
              deviceIds:
                - string
      responses:
        '200':
          description: Return the requestId <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/startRemoveDeviceRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
  /device/startPasteDevice:
    post:
      tags:
        - Device Operations
      summary: ' Device Copy/Move '
      description: Copy/Move devices from source Cluster group to destination Cluster group(use checkProgress to confirm the execution status & getOperationResult to confirm execution result)
      operationId: post-device-startpastedevice
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/startPasteDeviceRq'
            example:
              relatedGroupId: string
              deviceType: mfp
              tagIds:
                - string
              untagIds:
                - string
              mode: copy
              deviceIds:
                - string
              isExclude: true
      responses:
        '200':
          description: Returns the RequestId<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/startPasteDeviceRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
  /device/deviceOperationLog:
    post:
      tags:
        - Device Operations
      summary: Fetch  the Device Operation Logs for a Specified device
      description: Fetch  the Device Operation Logs for a Specified device
      operationId: post-device-deviceoperationlog
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getDeviceOperationLogRq'
            example:
              startIndex: 0
              count: 0
              targetDeviceId: string
              orderBy:
                order: ascending
                key: string
      responses:
        '200':
          description: Return the Device Operation logs<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceOperationLogRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                totalCount: 0
                resultCount: 0
                deviceOpeLogList:
                  - opeLogId: string
                    kind: string
                    timestamp: 0
                    accountId: string
                    operation: string
                    targetDeviceId: string
                    result: string
                    accountName: string
                    accountStatus: string
                    errorCode: string
  /device/deleteDeviceOperationLog:
    post:
      tags:
        - Device Operations
      summary: Removes  the Device Operation Logs for a Specified device
      description: Removes the Device Operation Logs for a Specified device
      operationId: post-device-deletedeviceoperationlog
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/deleteDeviceOperationLogRq'
            example:
              targetDeviceId: string
      responses:
        '200':
          description: Return the Common Respone Object<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteDeviceOperationLogRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /device/registerDevice:
    post:
      tags:
        - Device Operations
      summary: Register device.
      description: Registers a device using the information specified in the request parameters.
      operationId: post-device-registerdevice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/registerDeviceRq'
            example:
              agentId: string
              registerDeviceList:
                - modelName: string
                  serialNumber: string
                  ipAddress: string
                  macAddress: string
                  friendlyName: string
                  familyName: string
                  snmpSetting:
                    snmpVersion: v1
                    getCommunityString: string
                    contextName: string
                    userName: string
                    securityAuthType: MD5
                    securityAuthKey: string
                    securityPrivType: DES
                    securityPrivKey: string
                  retry: 0
                  timeout: 0
      responses:
        '200':
          description: Return the Common Respone Object<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/registerDeviceRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /device/remoteOperationPanelUrl:
    post:
      tags:
        - Device Operations
      summary: Get Remote Operation URL
      description: Returns the URL to access the remote operation panel of MFP.
      operationId: post-device-remoteoperationpanelurl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/remoteOperationPanelUrlRq'
            example:
              deviceId: string
      responses:
        '200':
          description: URL for accessing the remote operation panel of the MFP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/remoteOperationPanelUrlRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                url: string
  /device/embeddedWebPageURL:
    post:
      tags:
        - Device Operations
      summary: Get Embedded Web page URL
      description: Returns the URL to access the embedded web page of MFP.
      operationId: post-device-embeddedwebpageurl
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/embeddedWebPageURLRq'
            example:
              deviceId: string
      responses:
        '200':
          description: URL for accessing the embedded web page of the MFP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/embeddedWebPageURLRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                url: string
  /device/customDeviceType:
    post:
      tags:
        - Device Operations
      summary: Apply Device Type Settings to Device(s)
      description: Apply Device Type Settings to Device(s)
      operationId: applyDeviceTypeSettings
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/applyDeviceTypeSettingsRq'
            example:
              isExclude: true
              deviceIds:
                - string
              deviceTypeSettings: string
              type: 0
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/applyDeviceTypeSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/groupInfo:
    post:
      tags:
        - Group Operations
      summary: Returns groupId for a specified TenantName
      description: Returns the groupId
      operationId: post-group-groupinfo
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getGroupInfoRq'
            example:
              tenantName: string
              customerName: string
              customerId: string
              timezone: string
      responses:
        '200':
          description: Returns the groupId <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGroupInfoRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                groupId: string
  /group/createGroup:
    post:
      tags:
        - Group Operations
      summary: Create group under parent groupId
      description: Return the groupId
      operationId: post-group-creategroup
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/createGrpRq'
            example:
              parentGroupId: string
              groupName: string
              description: string
              groupType: Cluster
      responses:
        '200':
          description: Return the groupId <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createGrpRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                groupId: string
  /group/editGroup:
    post:
      tags:
        - Group Operations
      summary: Edit group name & description
      description: 'Return the status '
      operationId: post-group-editgroup
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/editGrpRq'
            example:
              groupId: string
              groupName: string
              description: string
      responses:
        '200':
          description: Return the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/editGrpRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /group/getGroupList:
    post:
      tags:
        - Group Operations
      summary: It Retrieves group Information & its child groups
      description: Returns group info with its child groups
      operationId: post-group-getgrouplist
      requestBody:
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/getGrpListRq'
            example:
              groupId: string
              startIndex: 0
              count: 0
              totalFlag: true
              attribute: managed
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Return the group List <br>
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/getGrpListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                groupId: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalFlag: true
                totalCount: 0
                resultData:
                  - groupId: string
                    groupType: string
                    groupName: string
                    parentGroupId: string
                    description: string
                    upperGroupList:
                      - groupId: 0
  /group/getGroupTree:
    post:
      tags:
        - Group Operations
      summary: It Returns list of the groups user has access to with parent child relationship(heiarchy information(obsolete)
      description: Returns group tree
      operationId: post-group-getgrouptree
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getGrpTreeRq'
            example:
              startIndex: 0
              count: 0
              userId: string
              expand: all
      responses:
        '200':
          description: Return the group Tree <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGrpTreeRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                groupId: string
                totalCount: 0
                groupList:
                  - groupId: string
                    groupName: string
                    parentGroupId: string
                    description: string
  /group/startMoveGroup:
    post:
      tags:
        - Group Operations
      summary: ' Moves groups '
      description: Moves group from source group to destination group(use checkProgress to confirm the execution status & getMoveGroupResult to confirm execution result)
      operationId: post-group-startmovegroup
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/startMoveGrpRq'
            example:
              srcGroupId: string
              dstGroupId: string
      responses:
        '200':
          description: Returns the requestId <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/startMoveGrpRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
  /group/startRemoveGroup:
    post:
      tags:
        - Group Operations
      summary: 'Remove groups '
      description: Removes the specified group & its childrens including devices & its associated agents (use checkProgress to confirm the execution status & getOperationResult to confirm execution result)
      operationId: post-group-startremovegroup
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/startRemoveGrpRq'
            example:
              operation: moveTrash
              groupIds:
                - string
      responses:
        '200':
          description: Return the requestId <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/startRemoveGrpRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
  /group/getOperationResult:
    post:
      tags:
        - Group Operations
      summary: Gets Group Operation result
      description: 'This API will check whether Device Operation(copy/move/remove), Group Operation(move/remove) is completed or not.This will also check whether deviceRegistration is completed or not '
      operationId: post-group-getoperationresult
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getOperationResultRq'
            example:
              requestId: string
      responses:
        '200':
          description: Return the Device/Group operation status (true/false)<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getOperationResultRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                result: true
                deviceCount: string
                successCount: string
                failureCount: string
                resultList:
                  - deviceId: string
                    execResult: string
                    resultDetails: Ok(Success)
  /group/getMoveGroupResult:
    post:
      tags:
        - Group Operations
      summary: Get Group Move result(NotUsed)
      description: This API will check whether group Move is completed or not(Notused)
      operationId: post-group-getmovegroupresult
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getMoveGroupResultRq'
            example:
              requestId: string
      responses:
        '200':
          description: Return the group remove status (true/false)<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMoveGroupResultRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                result: true
  /group/getStatusCondition:
    post:
      tags:
        - Group Operations
      summary: Get the status settings condition for a specified group(Only ClusterGroup
      description: This API fetch the statussettings condition for a specified group(Only ClusterGroup)
      operationId: post-group-getstatuscondition
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getStatusConditionRq'
            example:
              groupId: string
      responses:
        '200':
          description: Return the status condition<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getStatusConditionRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                statusSettings:
                  error: string
                  warning: string
                  normal: string
  /group/setStatusCondition:
    post:
      tags:
        - Group Operations
      summary: Sets the status settings condition for a specified group(Only ClusterGroup
      description: This API sets the statussettings condition for a specified group(Only ClusterGroup)
      operationId: post-group-setstatuscondition
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setStatusConditionRq'
            example:
              groupId: string
              error: string
              warning: string
              nornal: string
      responses:
        '200':
          description: Return the status flag<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setStatusConditionRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/schedule:
    get:
      tags:
        - Group Operations
      summary: Gets the Schedule List
      description: Gets the Schedule List ( Statusupdate Schedule list) for a specified groupId
      operationId: getScheduleList
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Return the  Schedule List <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getScheduleListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                scheduleList:
                  - scheduleName: string
                    enable: true
                    select: 1
                    interval: 0
  '/group/schedule/{groupId}':
    put:
      tags:
        - Group Operations
      summary: Set Intervals For Schedule List
      description: Set Intervals For Schedule List
      operationId: setScheduleList
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setScheduleListRq'
            example:
              scheduleList:
                - scheduleName: string
                  enable: true
                  select: 1
                  interval: 0
      responses:
        '200':
          description: Return the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setScheduleListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/setTicketRegistrationConf:
    post:
      tags:
        - Connectwise- manage configurations
      summary: Save ConnectWise (CW) configuration info for ticket registration
      description: Stores user specified ConnectWise (CW) configuration info for logged-in tenant and Returns the  operation status.
      operationId: post-group-setticketregistrationconf
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setTicketRegistrationConfRq'
            example:
              groupId: string
              cwType: 0
              basicSetting:
                companyId: string
                publicKey: string
                privateKey: string
                origin: string
              ticketSetting:
                ticketFlag: true
                companyId: 0
                companyName: string
                serviceBoardSettings:
                  - serviceBoardId: 0
                    serviceBoardName: string
                    category: string
                    isSelected: true
                    statusToNotify:
                      - alertId: 0
                        impactId: 0
                        isSelected: true
                        severity: 0
                    customFields:
                      - synappxFieldId: 0
                        fieldId: 0
                        fieldName: string
                customFieldFlag: true
                customFields:
                  - synappxFieldId: 0
                    fieldId: 0
                    fieldName: string
                language: string
                timeZone: string
      responses:
        '200':
          description: Return the reponse of ticket configuration insertion status. <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setTicketRegistrationConfRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/getTicketRegistrationConf:
    get:
      tags:
        - Connectwise- manage configurations
      summary: Return the ConnectWise (CW) configuration of the logged-in tenant
      description: 'Return the ConnectWise (CW) configuration info previously stored. '
      operationId: getTicketRegistrationConf
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
        - name: cwType
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Return the ticket registration configuration info. <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTicketRegistrationConfRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                groupId: string
                basicSetting:
                  companyId: string
                  publicKey: string
                  privateKey: string
                  origin: string
                ticketSetting:
                  ticketFlag: true
                  companyId: 0
                  companyName: string
                  serviceBoardSettings:
                    - serviceBoardId: 0
                      serviceBoardName: string
                      category: string
                      isSelected: true
                      statusToNotify:
                        - alertId: 0
                          impactId: 0
                          isSelected: true
                          severity: 0
                      customFields:
                        - synappxFieldId: 0
                          fieldId: 0
                          fieldName: string
                  customFieldFlag: true
                  language: string
                  timeZone: string
  /group/getCompanyOrServiceBoardList:
    get:
      tags:
        - Connectwise- manage configurations
      summary: Return the ConnectWise comany or service board list
      description: 'Return company or service board list '
      operationId: getCompanyOrServiceBoardList
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
        - name: filter
          in: query
          required: true
          schema:
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Return company or sevice board list. <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCompanyOrServiceBoardListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                resultList:
                  - id: 0
                    name: string
  /agent/schedule:
    get:
      tags:
        - Agent Operations
      summary: Gets the Discovery Schedule Settings for Agent
      description: Gets the Discovery Schedule Settings for agent
      operationId: getScheduleDiscoverySettings
      parameters:
        - name: agentId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Return the Discovery Schedule Settings for an agent<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getScheduleDiscoSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                scheduleSettings:
                  scheduleName: string
                  enable: true
                  select: 1
                  interval: 0
  '/agent/schedule/{agentId}':
    put:
      tags:
        - Agent Operations
      summary: Set Intervals For Discovery Schedule For An Agent
      description: Set Intervals For Discovery Schedule
      operationId: setScheduleDiscovery
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setScheduleDiscoveryRq'
            example:
              scheduleSettings:
                scheduleName: string
                enable: true
                select: 1
                interval: 0
      responses:
        '200':
          description: Return the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setScheduleDiscoveryRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/setScheduleList:
    post:
      tags:
        - Group Operations
      summary: Enable/disable the Specified Schedule Name
      description: 'This API Enable/disable the Specified Schedule Name '
      operationId: post-group-setschedulelist
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setScheduleListRq'
            example:
              scheduleList:
                - scheduleName: string
                  enable: true
                  select: 1
                  interval: 0
      responses:
        '200':
          description: Return the status flag<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setScheduleListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/getMailAlertList:
    post:
      tags:
        - Group Operations
      summary: Gets the List of email alerts for a specified groupId or tenantId
      description: This API fetch the List for emailAlerts for a  specified groupId or tenantId
      operationId: post-group-getmailalertlist
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getMailAlertListRq'
            example:
              groupId: string
      responses:
        '200':
          description: Return the EmailAlert List <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getMailAlertListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                groupId: string
                emailAlertList:
                  - emailAlertId: string
                    category: mib
                    toAddress: string
                    ccAddress: string
                    bccAddress: string
                    language: string
                    timeZone: string
                    statusCondition: string
                    defaultstatuscondition: 0
  /group/setMailAlertList:
    post:
      tags:
        - Group Operations
      summary: 'Sets the List of email alerts for a specified groupId or tenantId '
      description: This API sets the emailAlerts for a  specified groupId or tenantId
      operationId: post-group-setmailalertlist
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setMailAlertListRq'
            example:
              groupId: string
              mode: create
              emailAlertList:
                - emailAlertId: string
                  category: mib
                  toAddress: string
                  ccAddress: string
                  bccAddress: string
                  language: string
                  timeZone: string
                  statusCondition: string
                  defaultstatuscondition: 0
      responses:
        '200':
          description: Return the status flag<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setMailAlertListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/email/test:
    post:
      tags:
        - Group Operations
      summary: Send Test or Sample Email
      description: Test email(s) will be sent to designated email addresses
      operationId: post-group-email-test
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/sendMailAlertRq'
            example:
              groupId: string
              toAddress: string
              timeZone: string
              language: string
      responses:
        '200':
          description: Return the status flag<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sendMailAlertRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/emailSettings/del:
    post:
      tags:
        - Group Operations
      summary: 'Deletes the List of email alert settings for a specified groupId or tenant '
      description: This API deletes the email alert settings for a  specified groupId or tenant
      operationId: post-group-emailsettings-del
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/deleteMailAlertListRq'
            example:
              groupId: string
              emailAlertIds:
                - string
      responses:
        '200':
          description: Return the status flag<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteMailAlertListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/getScheduleSettings:
    post:
      tags:
        - Group Operations
      summary: Gets the Schedule Settting details for a specified ScheduleName
      description: This API fetch Schedule Settting details for a specified ScheduleName
      operationId: post-group-getschedulesettings
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getScheduleSettingsRq'
            example:
              groupId: string
              scheduleName: string
      responses:
        '200':
          description: Return the Schedule Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getScheduleSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                groupId: string
                scheduleName: string
                execAtStartup: true
                schedule:
                  - starttimestamp: 0
                    endtimestamp: 0
                    interval: 0
  /group/setScheduleSettings:
    post:
      tags:
        - Group Operations
      summary: Sets the Schedule for the Specified Schedule Name
      description: This API Sets the Schedule for the Specified Schedule Name
      operationId: post-group-setschedulesettings
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setScheduleSettingsRq'
            example:
              groupId: string
              scheduleName: string
              execAtStartup: true
              schedule:
                - starttimestamp: 0
                  endtimestamp: 0
                  interval: 0
      responses:
        '200':
          description: Return the status flag<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setScheduleSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/getAutoRegisterStatus:
    post:
      tags:
        - Group Operations
      summary: It Returns the Discovered device setting for a specified group
      description: Returns  Discovered device setting
      operationId: post-group-getautoregisterstatus
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getAutoRegisterStatusRq'
            example:
              groupId: string
      responses:
        '200':
          description: Return the Auto Register Flag <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAutoRegisterStatusRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                autoRegister: true
  /group/setAutoRegisterStatus:
    post:
      tags:
        - Group Operations
      summary: Updates the discovery setting(Auto Register) for a specified group
      description: Updated the Auto Registration flag setting for a group
      operationId: post-group-setautoregisterstatus
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setAutoRegisterStatusRq'
            example:
              groupId: string
              autoRegister: true
      responses:
        '200':
          description: Return the status<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setAutoRegisterStatusRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                autoRegister: true
  /group/groupOperationLog:
    post:
      tags:
        - Group Operations
      summary: Fetch  the Group Operation Logs for a Specified Group
      description: Fetch  the Group Operation Logs for a Specified Group
      operationId: post-group-groupoperationlog
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getGrpOperationLogRq'
            example:
              startIndex: 0
              count: 0
              targetGroupId: string
              orderBy:
                order: ascending
                key: string
      responses:
        '200':
          description: Return the Group Operation logs<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGrpOperationLogRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                totalCount: 0
                resultCount: 0
                groupOpeLogList:
                  - opeLogId: string
                    kind: string
                    timestamp: 0
                    accountId: string
                    operation: string
                    targetGroupId: string
                    result: string
                    accountName: string
                    accountStatus: string
                    errorCode: string
                    addInfo1:
                      itemName: string
                      value: string
                    addInfo2:
                      itemName: string
                      value: string
  /group/deletegroupOperationLog:
    post:
      tags:
        - Group Operations
      summary: Removes the Group Operation Logs for a Specified Group
      description: Removes  the Group Operation Logs for a Specified Group
      operationId: post-group-deletegroupoperationlog
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/deleteGrpOperationLogRq'
            example:
              targetGroupId: string
      responses:
        '200':
          description: Return the Common Object<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteGrpOperationLogRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
  /group/info:
    get:
      tags:
        - Group Operations
      summary: Gets Group Summary Information for a Specified Group
      description: Gets Group Summary Information for a Specified Group
      operationId: getGroupSummaryInfo
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Return the Group Summary Information Object<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGroupSummaryInfo'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                groupId: true
                groupName: string
                summaryInfo:
                  communicationStatus: string
                  timestamp: 0
                  counter:
                    color: 0
                    monochrome: 0
                    total: 0
                  deviceCount:
                    firmwareVersions:
                      - count: 0
                        version: string
                    sharpDevices:
                      - count: 0
                        modelName: string
                    total: 0
                  deviceStatusCount:
                    accountLimit: 0
                    unknown: 0
                    paperEmpty: 0
                    paperJam: 0
                    paperLow: 0
                    printerError: 0
                    printerWarning: 0
                    standBy: 0
                    tonerEmpty: 0
                    tonerLow: 0
                    warmUp: 0
                    online: 0
                    offline: 0
                    noResponse: 0
                    markerSupplyMissing: 0
                    nearOverDuePreventMaintenance: 0
                    overduePreventMaintenance: 0
                  serviceCodeCount:
                    fusingBelt: 0
                    fusingWebUnit: 0
                    maintenanceAll: 0
                    maintenanceAllAndCol: 0
                    maintenanceCol: 0
                    pressureRoller: 0
                    tc1Unit: 0
                    tc2Unit: 0
                    troubleCode: 0
                agentInfo:
                  - agentId: string
                    agentName: string
                    macAddress: string
                    ipAddress: string
                    agentVersion: string
                    updateTimestamp: 0
                    agentStatus: 1
                    agentLastRunningTime: 0
                    agentRunningStatus: 1
  /group/counter/conf:
    get:
      tags:
        - Group Operations
      summary: Get Special Counter Settings
      description: Get Special Counter Settings
      operationId: getCounterSettings
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the Special Counter Settings for a specific group <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCounterSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                colorModeFlag: true
                postCardOrA3Flag: true
                utilityFlag: true
    put:
      tags:
        - Group Operations
      summary: Set Special Counter Settings
      description: Set Special Counter Settings
      operationId: setCounterSettings
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setCounterSettingsRq'
            example:
              groupId: string
              colorModeFlag: true
              postCardOrA3Flag: true
              utilityFlag: true
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setReportSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/deviceType/conf:
    get:
      tags:
        - Group Operations
      summary: Gets Device Type Settings Details
      description: 'Gets Device Type Settings Details '
      operationId: getDeviceTypeSettings
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
        - name: deviceTypeId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the Device Type Setting Details for a specified device Type <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceTypeSettingsDetailsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                deviceTypeId: string
                referenceMIBInfoList:
                  - referenceId: string
                    snmpRequest: get
                    oid: string
                    description: string
                outputDeviceUsageSettingList:
                  - counterId: CopyBlackWhite
                    referenceId: String
                  - counterId: CopyColor
                    referenceId: String
                  - counterId: PrintsBlackWhite
                    referenceId: String
                  - counterId: PrintsColor
                    referenceId: String
                  - counterId: InternetFaxReceiveBlackWhite
                    referenceId: String
                  - counterId: InternetFaxReceiveColor
                    referenceId: String
                  - counterId: FaxReceiveBlackWhite
                    referenceId: String
                  - counterId: FaxReceiveColor
                    referenceId: String
                  - counterId: PrintsDocumentFilingBlackWhite
                    referenceId: String
                  - counterId: PrintsDocumentFilingColor
                    referenceId: String
                  - counterId: OthersBlackWhite
                    referenceId: String
                  - counterId: OthersColor
                    referenceId: String
                customCounterSettingList:
                  - counterName: string
                    referenceId: string
    put:
      tags:
        - Group Operations
      summary: Sets/Edit Device Type Settings
      description: Sets/Edit Device Type Settings
      operationId: setDeviceTypeSettings
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
        - name: deviceTypeId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setDeviceTypeSettingsRq'
            example:
              modelNames:
                - string
              referenceMIBInfoList:
                - referenceId: string
                  snmpRequest: get
                  oid: string
                  description: string
              outputDeviceUsageSettingList:
                - counterId: CopyBlackWhite
                  referenceId: String
                - counterId: CopyColor
                  referenceId: String
                - counterId: PrintsBlackWhite
                  referenceId: String
                - counterId: PrintsColor
                  referenceId: String
                - counterId: InternetFaxReceiveBlackWhite
                  referenceId: String
                - counterId: InternetFaxReceiveColor
                  referenceId: String
                - counterId: FaxReceiveBlackWhite
                  referenceId: String
                - counterId: FaxReceiveColor
                  referenceId: String
                - counterId: PrintsDocumentFilingBlackWhite
                  referenceId: String
                - counterId: PrintsDocumentFilingColor
                  referenceId: String
                - counterId: OthersBlackWhite
                  referenceId: String
                - counterId: OthersColor
                  referenceId: String
              customCounterSettingList:
                - counterName: string
                  referenceId: string
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setDeviceTypeSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    post:
      tags:
        - Group Operations
      summary: Create Device Type Settings
      description: Create Device Type Settings
      operationId: createDeviceTypeSettings
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/createDeviceTypeSettingsRq'
            example:
              deviceTypeId: string
              modelNames:
                - string
              referenceMIBInfoList:
                - referenceId: string
                  snmpRequest: get
                  oid: string
                  description: string
              outputDeviceUsageSettingList:
                - counterId: CopyBlackWhite
                  referenceId: String
                - counterId: CopyColor
                  referenceId: String
                - counterId: PrintsBlackWhite
                  referenceId: String
                - counterId: PrintsColor
                  referenceId: String
                - counterId: InternetFaxReceiveBlackWhite
                  referenceId: String
                - counterId: InternetFaxReceiveColor
                  referenceId: String
                - counterId: FaxReceiveBlackWhite
                  referenceId: String
                - counterId: FaxReceiveColor
                  referenceId: String
                - counterId: PrintsDocumentFilingBlackWhite
                  referenceId: String
                - counterId: PrintsDocumentFilingColor
                  referenceId: String
                - counterId: OthersBlackWhite
                  referenceId: String
                - counterId: OthersColor
                  referenceId: String
              customCounterSettingList:
                - counterName: string
                  referenceId: string
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createDeviceTypeSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/deviceType/addlinfoconf:
    post:
      tags:
        - Group Operations
      summary: Create Additional Counter Info
      description: Create Additional Counter Info
      operationId: createAddlDeviceTypeSettings
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/createAddlDeviceTypeSettingsRq'
            example:
              counterName: string
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAddlDeviceTypeSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/deviceType/conf/del:
    post:
      tags:
        - Group Operations
      summary: Delete(s) Device Type Settings
      description: Delete(s) Device Type Settings
      operationId: deleteDeviceTypeSettings
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/delDeviceTypeSettingsRq'
            example:
              isExclude: true
              deviceTypeIds:
                - string
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delDeviceTypeSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/deviceType/addlinfoconf/del:
    post:
      tags:
        - Group Operations
      summary: Delete(s) Additional Counter Information
      description: Delete(s) Additional Counter Information
      operationId: deleteAddlDeviceTypeSettings
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/delAddlInfoCounterDeviceTypeSettingsRq'
            example:
              isExclude: true
              counterName:
                - string
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delAddlInfoCounterDeviceTypeSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/deviceTypeList:
    get:
      tags:
        - Group Operations
      summary: List Device Type Settings for Specific Group
      description: List Device Type Settings for Specific Group
      operationId: getDeviceTypeSettingsList
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the Device Type Setting List for a specified group <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceTypeSettingsListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                deviceTypeList:
                  - deviceTypeId: string
                    lastDeviceTypeUpdate: 0
    post:
      tags:
        - Group Operations
      summary: Get the list of Preset Device Types or Custom Device Types for a specific group.
      description: Get the list of Preset Device Types or Custom Device Types for a specific group.
      operationId: getDeviceTypeList
      parameters:
        - name: groupId
          in: query
          description: Group Id
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/deviceTypeListRq'
            example:
              type: string
              startIndex: 0
              count: 50
              simpleFilters:
                - key: string
                  value: string
      responses:
        '200':
          description: Returns the Device Type Setting List for a specified group <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceTypeListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                deviceTypeList:
                  - deviceTypeId: string
                    type: string
  /group/deviceType/addlInfo:
    get:
      tags:
        - Group Operations
      summary: List Additional Device Infor for Device Type Settings
      description: List Additional Device Infor for Device Type Settings
      operationId: getAddlDeviceTypeSettingsList
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the Additional Device Type Setting List<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAddlDevTypeSettingsListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                deviceTypeList:
                  - counterName: string
  '/group/usageTarget/conf/{groupId}':
    patch:
      tags:
        - Group Operations
      summary: Specify the Usage target value (Usage Per Month)
      description: Edit the Usage target value for a specific tenant
      operationId: editUsageTargetSetting
      parameters:
        - name: groupId
          in: path
          description: groupId
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/editUsageTargetRq'
            example:
              usageTargetValue: 0
      responses:
        '200':
          description: Returns the requested operation status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/editUsageTargetRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - Group Operations
      summary: Get the Usage Target setting
      description: Get the Usage Target setting value for a specific group.
      operationId: getUsageTargetSetting
      parameters:
        - name: groupId
          in: path
          description: groupId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the usage target setting value <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUsageTargetSettingRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                usageTargetValue: 0
  /group/customer/list:
    get:
      tags:
        - Group Operations
      summary: Get the List of Customer information for a specific delear.
      description: Get the List of Customer information for a specific delear.
      operationId: getCustomerInfoList
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: 'Page Number: 0 (Default) '
          schema:
            type: integer
        - name: pageSize
          in: query
          description: 'Page Size: 1000 (Default) '
          schema:
            type: integer
      responses:
        '200':
          description: Returns the List of Customer information for a specific delear<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCustomerInfoListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                pageNumber: 0
                pageSize: 0
                resultCount: 0
                totalCount: 0
                selectedCustomer:
                  id: string
                  name: string
                customerList:
                  - dealerCustomerId: string
                    dealerCustomerName: string
    put:
      tags:
        - Group Operations
      summary: Update the specified Customer Information
      description: Update the Customer Information for a specific tenant
      operationId: saveCustomerInformation
      parameters:
        - name: groupId
          in: query
          description: groupId
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/updateCustomerInfoRq'
            example:
              dealerCustomerName: string
              dealerCustomerId: string
      responses:
        '200':
          description: Returns the requested operation status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateCustomerInfoRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/customer/create:
    post:
      tags:
        - Group Operations
      summary: Add new customer information.
      description: Add new customer information under a specific dealer.
      operationId: createCustomer
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/createCustomerRq'
            example:
              name: string
              accountCode: string
              city: string
              country: string
              postalcode: string
              state: string
              streetAddress: string
              telephone: string
              groupId: string
      responses:
        '200':
          description: Returns the status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createCustomerRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /group/tasks/list:
    get:
      tags:
        - Group Operations
      summary: Get list of tasks to Device(s)
      description: Get list of tasks to Device(s)
      operationId: getTasksList
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the list of tasks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTasksListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                tasksList:
                  - taskId: 0
                    taskName: string
                    type: string
                    startTime: 0
                    updatedTime: 0
                    endTime: 0
                    status: 0
  /group/tasks/details:
    post:
      tags:
        - Group Operations
      summary: Get the details of tasks to Device(s)
      description: Get the details of tasks to Device(s)
      operationId: getTaskDetails
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getTaskDetailsRq'
            example:
              groupId: string
              taskId: 0
              startIndex: 0
              count: 10
              simpleFilters:
                - key: string
                  value: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Returns the list of task details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTaskDetailsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
[...]
