openapi: 3.0.1
info:
  title: Mib-API
  description: This is specification doc for RMM basic functions
  version: '1.0'
servers:
  - url: https://rmm-mfpdev-apim.azure-api.net/rmm
paths:
  /device/getDeviceList:
    post:
      tags:
        - Device Operations
      summary: Get Device list
      description: Return the device list i.e. registered in specified group
      operationId: post-device-getdevicelist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getDeviceListRq'
            example:
              startIndex: 0
              count: 10
              groupId: string
              filterId: string
              attribute: managed
              deviceType: mfp
              simpleFilters:
                - key: string
                  value: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Get Device list result <br>
          content:
            application/json:
              schema:
                #                type: object
                $ref: '#/components/schemas/getDeviceListRes'
components:
  schemas:
    getDeviceListRq:
      required:
        - groupId
        - attribute
      type: object
      properties:
        startIndex:
          type: integer
          description: ' Start Index <br> ●Check content - Error for other than numeric value'
          default: 0
        count:
          type: integer
          description: ' Number of records <br> ●Check content - Error for other than numeric value'
          default: 10
        groupId:
          type: string
          description: ' groupId of target group <br> ●Check content - Error for null, null character (i.e. empty string)'
        filterId:
          type: string
          description: User Filter filterId
        attribute:
          enum:
            - managed
            - trash
            - new
          type: string
          description: " Attribute of Acquisition/Get target - managed： Managed Device - trash： Deleted Device (i.e. in Trash/recycle bin) - new： New Device\n●Check content - Error for other than specified value"
        deviceType:
          enum:
            - mfp
            - display
            - all
          type: string
          description: 'Type of device '
        simpleFilters:
          type: array
          items:
            required:
              - key
              - value
            type: object
            properties:
              key:
                type: string
                description: ' Filter key<br> Specifiable items are as below. - Filter key list <table border="1"> <tr><th>Key</th><th>Description</th></tr> <tr><td>modelName</td><td>Model name</td></tr> <tr><td>serialNumber</td><td>Serial number</td></tr> <tr><td>ipAddress</td><td>IP address</td></tr> <tr><td>tagIds</td><td>Tag Ids</td></tr> <tr><td>location</td><td>Location</td></tr> <tr><td>description</td><td>Description</td></tr> <tr><td>macAddress</td><td>MacAddress</td></tr> <tr><td>impressionCount</td><td>Impression Count</td></tr> <tr><td>firmwareVersion</td><td>firmware Version</td></tr> <tr><td>friendlyName</td><td>Name</td></tr> <tr><td>errorLevel</td><td>Alert Level</td></tr> <tr><td>status</td><td>Device Status</td></tr> <tr><td>troubleCode</td><td>Errorcode/maintaintainence code</td></tr> <tr><td>deviceTypeSetting</td><td>Device Type Setting</td></tr> <tr><td>detectedDeviceType</td><td>Detected Device Type</td></tr> <tr><td>communicationStatus</td><td>Communication Status</td></tr> <tr><td>agentName</td><td>Related Agent Name</td></tr> </table> ●Check content - Error for other than specified value '
              value:
                type: string
                description: ' Filtering target strings <br> Strings that are Specifiable in filter key are as below. - Filtering target strings <table border="1"> <tr><th>Key</th><th>Description</th></tr> <tr><td>modelName</td><td>Specify input value</td></tr> <tr><td>serialNumber</td><td>Specify input value</td></tr> <tr><td>ipAddress</td><td>Specify input value</td></tr> <tr><td>tagIds</td><td>Specify input value</td></tr> <tr><td>location</td><td>Specify input value</td></tr> <tr><td>description</td><td>Specify input value</td></tr> <tr><td>macAddress</td><td>Specify input value</td></tr> <tr><td>impressionCount</td><td>Specify input value</td></tr> <tr><td>firmwareVersion</td><td>Specify input value</td></tr> <tr><td>friendlyName</td><td>Specify input value</td></tr> <tr><td>discoveryTime</td><td>Specify input value</td></tr> <tr><td>lastStatusUpdate</td><td>Specify input value</td></tr> <tr><td>lastBasicUpdate</td><td>Specify input value</td></tr> <tr><td>troubleCode</td><td>Specify input value</td></tr> <tr><td>lastSuppliesUpdate</td><td>Specify input value</td></tr> <tr><td>lastCounterUpdate</td><td>Specify input value</td></tr> <tr><td>deviceTypeSetting</td><td>Specify input value</td></tr> <tr><td>detectedDeviceType</td><td>Specify input value</td></tr> <tr><td>errorLevel</td><td>error,warning,normal</td></tr> <tr><td>status</td><td> <table border="1"> <tr><td>unknown</td></tr> <tr><td>printererror </td></tr> <tr><td>accountlimit </td></tr> <tr><td>overduepreventmaintenance </td></tr> <tr><td>paperjam </td></tr> <tr><td>markersupplymissing </td></tr> <tr><td>tonerempty </td></tr> <tr><td>coveropen </td></tr> <tr><td>paperempty  </td></tr> <tr><td>specifiedinputtrayempty </td></tr> <tr><td>specifiedinputtraymissing </td></tr> <tr><td>alloutputtrayfull </td></tr> <tr><td>specifiedoutputtraymissing </td></tr> <tr><td>offline </td></tr> <tr><td>printerwarning  </td></tr> <tr><td>tonerlow </td></tr> <tr><td>paperlow</td></tr> <tr><td>inputtraymissing </td></tr> <tr><td>outputtraymissing </td></tr> <tr><td>outputtrayfull </td></tr> <tr><td>stackernotinstalled  </td></tr> <tr><td>nearoverduepreventmaintenance   </td></tr> <tr><td>standby  </td></tr> <tr><td>warmup  </td></tr> <tr><td>printing  </td></tr> <tr><td>online</td></tr> </table></td></tr> <tr><td>communicationStatus</td><td>True/false</td></tr> <tr><td>agentName</td><td>Specify input value</td></tr> '
          description: Simple Filter
        orderBy:
          type: array
          items:
            required:
              - key
              - order
            type: object
            properties:
              key:
                type: string
                description: Sort Key <br> Specifiable items are as below. - Sort Key list <table border="1"> <tr><th>Key</th><th>Description</th></tr> <tr><td>modelName</td><td>Model name</td></tr> <tr><td>serialNumber</td><td>Serial number</td></tr> <tr><td>ipAddress</td><td>IP Address <br>Sort IP address by digitized value (i.e. converted to numerical form)</td></tr> <tr><td>friendlyName</td><td>Name</td></tr> <tr><td>errorLevel</td><td>Alert Value</td></tr> <tr><td>status</td><td>Status</td></tr> <tr><td>location</td><td>Location</td></tr> <tr><td>description</td><td>Description</td></tr> <tr><td>macAddress</td><td>MacAddress</td></tr> <tr><td>impressioncount</td><td>Impression Count</td></tr> <tr><td>firmwareversion</td><td>firmwareversion</td></tr> <tr><td>discoveryTime</td><td>DiscoveryTime</td></tr> <tr><td>laststatusupdate</td><td>Last StatusUpdate</td></tr> <tr><td>lastbasicupdate</td><td>LastBasicUpdate</td></tr> <tr><td>lastsuppliesupdate</td><td>LastBasicUpdate</td></tr> <tr><td>lastcounterupdate</td><td>LastCounterUpdate</td></tr> <tr><td>troublecode</td><td>Errorcode/maintaintainence code</td></tr> <tr><td>communicationStatus</td><td>Communication Status</td></tr> <tr><td>detectedDeviceType</td><td>Detected Device Type</td></tr> <tr><td>deviceTypeSetting</td><td>Device Type Setting</td></tr> <tr><td>tagIds</td><td>TagIds</td></tr> <tr><td>agentName</td><td>Related Agent Name</td></tr> </table> ●Check content - Error for other than specified value
              order:
                enum:
                  - ascending
                  - descending
                type: string
                description: ' Sort Order <br> - ascending: Ascending - descending: Descending ●Check content - Error for other than specified value'
          description: Sort Specification
    getDeviceListRes:
      type: object
      properties:
        common:
          $ref: '#/components/schemas/commonRsp'
        startIndex:
          type: integer
          description: Start Index (Same as request parameter)
        count:
          type: integer
          description: Number of requests (Same as request parameter)
        resultCount:
          type: integer
          description: Number of items acquired this time
        totalCount:
          type: integer
          description: Total number of search result
        deviceList:
          type: array
          items:
            type: object
            properties:
              _id:
                type: string
                description: deviceId
              type:
                enum:
                  - mfp
                  - display
                  - mib
                  - tco
                  - idp
                  - lch
                  - log
                  - fss
                type: string
                description: 'type: mfp | display | mib | tco | idp | lch | log | fss'
              createTimestamp:
                type: integer
                format: int64
              attribute:
                type: string
                description: attribute
              relatedGroupId:
                type: string
                description: relatedGroupId
              communicationStatus:
                type: string
                description: communicationStatus
              tagIds:
                type: array
                items:
                  type: string
                  description: tagId
                description: List of associated tagIds
              deviceGeneral:
                type: object
                properties:
                  relatedAgentId:
                    type: string
                    description: agentId
                  modelName:
                    type: string
                    description: 'Model Name<br> After registration, if the Get Info is not executed, null character'
                  friendlyName:
                    type: string
                    description: Name
                  serialNumber:
                    type: string
                    description: 'Serial Number <br> After registration, if the Get Info is not executed, null character'
                  dispErrorCode:
                    type: integer
                    description: dispErrorLevel digitalized 10:Error;20:Warning;30:Normal
              printerDevice:
                type: object
                properties:
                  connectionSetting:
                    type: object
                    properties:
                      ipAddress:
                        type: object
                        properties:
                          value:
                            type: string
                            description: ipaddress value
                          ipToLong:
                            type: number
                            description: ipaddress value digitalized
                      snmpSetting:
                        type: object
                        properties:
                          snmpVersion:
                            type: string
                          getCommunityString:
                            type: string
                          contextName:
                            type: string
                          userName:
                            type: string
                          securityAuthType:
                            type: string
                          securityAuthKey:
                            type: string
                          securityPrivType:
                            type: string
                          securityPrivKey:
                            type: string
                  macAddress:
                    type: string
                    description: macAddress
                  deviceImage:
                    type: object
                    properties:
                      url:
                        type: string
                        description: url
                      height:
                        type: integer
                        description: height
                      width:
                        type: integer
                        description: width
                  statusCode:
                    type: integer
                    description: ' Status digitalized'
                  troubleCode:
                    type: integer
                    description: ' trouble code'
                  dskFlag:
                    type: boolean
                    description: dsk flag
                  location:
                    type: string
                    description: location
                  description:
                    type: string
                    description: description
                  firmwareVersion:
                    type: string
                    description: firmwareVersion
                  subnetMask:
                    type: string
                    description: subnetMask
                  driverIdList:
                    type: array
                    items:
                      type: string
                      description: driverIds
                    description: List of driver Ids
                  gateway:
                    type: string
                    description: gateway
                  lastStatusUpdate:
                    type: number
                    description: lastStatusUpdate
                  lastSuppliesUpdate:
                    type: number
                    description: lastSuppliesUpdate
                  lastCounterUpdate:
                    type: number
                    description: lastCounterUpdate
                  lastBasicUpdate:
                    type: number
                    description: lastBasicUpdate
                  lifeCount:
                    type: number
                    description: lifeCount
                  deviceTypeSetting:
                    type: string
                    description: deviceTypeSetting
                  deviceTypeSettingCategory:
                    type: integer
                    description: '0: Auto; 1: Preset Custom Device Type; 2: Custom Device Type'
                  detectedDeviceType:
                    type: string
                    description: detectedDeviceType
                  status:
                    type: array
                    items:
                      type: string
                      description: status
                    description: List of status
                  inTrayList:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        modelName:
                          type: string
                        virtual:
                          type: string
                        manual:
                          type: string
                        inserter:
                          type: string
                        amount:
                          type: object
                          properties:
                            capacity:
                              type: string
                            unit:
                              type: string
                            typical:
                              type: string
                            state:
                              type: string
                        mediaSizeHeight:
                          type: string
                        mediaSizeWidth:
                          type: string
                        mediaSize:
                          type: string
                        mediaSizeUnit:
                          type: string
                        mediaSizeName:
                          type: string
                        mediaType:
                          type: string
                        mediaName:
                          type: string
                        mediaDimFeed:
                          type: string
                        mediaDimXFeed:
                          type: string
                  markerList:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        color:
                          type: string
                        description:
                          type: string
                        amount:
                          type: object
                          properties:
                            capacity:
                              type: string
                            unit:
                              type: string
                            typical:
                              type: string
                            state:
                              type: string
                  maintenanceCodeList:
                    type: array
                    items:
                      type: string
                    description: maintenanceCodeList
                  serviceCodeList:
                    type: array
                    items:
                      type: string
                    description: serviceCodeList
              agentName:
                type: string
                description: Related Agent Name
              scheduleId:
                type: string
                default: null
                description: scheduleId of Device Schedule.
              scheduleName:
                type: string
                default: null
                description: Schedule Name of Device Schedule.
          description: Device list
      description: getDeviceList response parameter
    commonRsp:
      type: object
      properties:
        errorList:
          type: array
          items:
            type: object
            properties:
              errorCode:
                type: string
                description: Error Code - Error Code list <table border="1"> <tr><th>Error code</th><th>Description</th></tr> <tr><td>E0001</td><td>DB Access Error</td></tr> <tr><td>E0004</td><td>JSON Path error</td></tr> <tr><td>E0011</td><td>Parameter mandatory check error</td></tr> <tr><td>E0014</td><td>Parameter format check error</td></tr> <tr><td>E0019</td><td>When target instance (group or device etc.) does not exist</td></tr> <tr><td>E0021</td><td>Invalid token</td></tr> <tr><td>E0024</td><td>No permission Error</td></tr> <tr><td>E0026</td><td>Session timeout error</td></tr> <tr><td>E0050</td><td>Error other than specified group management</td></tr> </table>
              errorField:
                type: string
                description: Parameter field where error occurred
              errorValue:
                type: string
                description: Value that result into an error
              errorMessage:
                type: string
                description: Error message (Text that human can understand)
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: Ocp-Apim-Subscription-Key
      in: header
    authorization:
      type: apiKey
      name: Authorization
      in: header
security:
  - apiKeyHeader: [ ]
  - authorization: [ ]
