openapi: 3.0.1
info:
  title: TCO-Api
  description: This is specification doc for RMM advanced functions
  version: '1.0'
servers:
  - url: https://rmm-mfpdev-apim.azure-api.net/rmmx
paths:
  /tco/device:
    post:
      tags:
        - Device Operations
      summary: Get Device list
      description: Return the device list(TCO)
      operationId: tcoGetDeviceList
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getDeviceListRq'
            example:
              startIndex: 0
              count: 10
              agentId: string
              groupId: string
              filterId: string
              deviceType: mfp
              accountType: 1
              modelFilter: deviceCloning
              simpleFilters:
                - key: string
                  value: string
              orderBy:
                - key: string
                  order: ascending
      responses:
        '200':
          description: Get Device list result <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getDeviceListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                startIndex: 0
                count: 0
                resultCount: 0
                totalCount: 0
                deviceList:
                  - _id: string
                    type: mfp
                    createTimestamp: 0
                    attribute: string
                    relatedGroupId: string
                    communicationStatus: string
                    tagIds:
                      - string
                    deviceGeneral:
                      relatedAgentId: string
                      modelName: string
                      familyName: string
                      friendlyName: string
                      serialNumber: string
                      dispErrorCode: 10
                      accessMode: 0
                    printerDevice:
                      connectionSetting:
                        ipAddress:
                          value: string
                          ipToLong: 0
                        useSSL: true
                      macAddress: string
                      productFamilyName: string
                      dskFlag: true
                      location: string
                      description: string
                      tcoDeviceInfo:
                        policyId: string
                        policyName: string
                        adminPasswordCheckResult: 0
                        adminPasswordCheckDate: 0
                        servicePasswordCheckResult: 0
                        servcePasswordCheckDate: 0
                        policyApplyDate: 0
                        lastSnapshotDate: 0
                        lastCheckDate: 0
                        powerManagementExecutionResult: 0
                        lastServiceReportResult: 0
                        serviceReportStatus: string
                        sim2206RequestId: string
                        sim2302RequestId: string
                        securityStatus: 1
                        securityActionResult: 1
                        lastServiceReportTimestamp: 0
                        cloningInfo:
                          - downloadStatus: string
                            lastUpdatedTime: 0
                            fileName: string
                        storageBackupInfo:
                          - downloadStatus: string
                            lastUpdatedTime: 0
                            fileName: string
                      capability:
                        deviceCloning: true
                        powerManagement: true
                        poweroff: true
                        security: true
                        serviceReport: true
                    useSSL: true
  /tco/getDeviceCount:
    post:
      tags:
        - Device Operations
      summary: Retrieves number of devices for a specific group
      description: Retrieves number of devices for a specific group
      operationId: post-tco-getdevicecount
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getTCODeviceCountRq'
            example:
              groupId: string
              attribute: assigned
      responses:
        '200':
          description: Gets Number of devices for a specific group<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTCODeviceCountRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                totalCount: 0
                notAppliedCount: 0
                successCount: 0
                failureCount: 0
  '/tco/securityReport/{groupId}':
    get:
      tags:
        - Device Operations
      summary: Retrieves number of each Policy counts applied/not applied on devices
      description: Retrieves number of each Policy counts applied/not applied on devices
      operationId: get-tco-securityreport-groupid
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Gets Number of policy count applied/notapplied on devices<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTCOSRPolicyCountRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                policyNotApplied: 0
                policyAppliedList:
                  - 
                    - policyName: Marketing
                      count: 10
                    - policyName: IT
                      count: 15
                    - policyName: R&D
                      count: 25
                policyApplied: 0
  /tco/securityReport/violations:
    post:
      tags:
        - Device Operations
      summary: Retrieves Policy Violation that has occured in the specified period
      description: Retrieves Policy Violation that has occured in the specified period for the tenant
      operationId: post-tco-securityreport-violations
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getTCOPolicyViolationRq'
            example:
              groupId: string
              month: 0
              year: 0
              policyId: string
              timezone: string
      responses:
        '200':
          description: Gets the policy violation/remediation that has occured during the specified period.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getTCOPolicyViolationRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                policyViolationList:
                  - day: 0
                    violation: 0
                    remediation: 0
  /tco/securityReport/violations/export:
    post:
      tags:
        - Device Operations
      summary: Prepares a Policy Violation Report for download (Default CSV)
      description: "Prepares Policy Violation Report for the specified period for download. \nSubsequently use /checkprogress & /group/download/{requestId} to retrive the report.\n"
      operationId: post-tco-securityreport-violations-export
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/getTCOExpPolicyViolationRq'
            example:
              groupId: string
              startDate: 0
              endDate: 0
              language: string
              format: CSV
              timeZone: string
      responses:
        '200':
          description: Returns the RequestId<br>.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSRReportRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
  '/tco/securityReport/export/{groupId}':
    get:
      tags:
        - Device Operations
      summary: Prepare the Security Report for Download(Default CSV)
      description: 'Prepare the Security Report for Download followed by /checkprogress & /group/download/{requestId}'
      operationId: requestSRReport
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
        - name: timeZone
          in: query
          required: true
          schema:
            type: string
            description: timezone
        - name: language
          in: query
          schema:
            type: string
            description: language
      responses:
        '200':
          description: Returns the requestId <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSRReportRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
  /tco/device/connection/set:
    post:
      tags:
        - Device Operations
      summary: Sets MFP Connection setiings
      description: Sets MFP Connection setiings
      operationId: tcoSetMFPConnectionSettings
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setMFPConnectionSettingsRq'
            example:
              agentId: string
              groupId: string
              deviceIds:
                - string
              password: string
              useSSL: true
              isExclude: true
              accountType: 1
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setMFPConnectionSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
  /tco/device/admin/password:
    put:
      tags:
        - Device Operations
      summary: Sets Admin MFP Password
      description: Sets Admin MFP Password
      operationId: tcoSetMFPAdminPassword
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/setMFPAdminPasswordRq'
            example:
              agentId: string
              groupId: string
              deviceIds:
                - string
              webAdminPassword: string
              isExclude: true
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setMFPAdminPasswordRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /tco/device/sslflag/:
    put:
      tags:
        - Device Operations
      summary: Sets SSL flag for Device(s)
      description: Sets SSL flag for Device(s)
      operationId: tcoSetSSLFlag
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetSSLFlagRq'
            example:
              agentId: string
              groupId: string
              deviceIds:
                - string
              useSSL: string
              isExclude: true
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetSSLFlagRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /tco/device/adminCheck/password:
    post:
      tags:
        - Device Operations
      summary: Performs Authenticaion Check against the MFP with password from DB
      description: Performs Authenticaion Check against the MFP with password from DB
      operationId: tcoLoginAttempt
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/checkMFPAdminPasswordRq'
            example:
              agentId: string
              groupId: string
              deviceIds:
                - string
              isExclude: true
      responses:
        '200':
          description: Returns the RequestId <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkMFPAdminPasswordRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
  /tco/device/push/securityLevel:
    put:
      tags:
        - Device Operations
      summary: Updates(Apply/Push)Security Level on one or all the devices
      description: Updates(Apply/Push) Security Level for one or all the Devices
      operationId: tcoApplySecuritySettings
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/pushsecurityLeveldRq'
            example:
              groupId: string
              deviceIds:
                - string
              policyId: 0
              isExclude: true
      responses:
        '200':
          description: Returns the RequestId <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pushsecurityLeveldRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
                discardDeviceIds:
                  - string
  '/tco/device/enqueue/securityLevel/{groupId}':
    put:
      tags:
        - Device Operations
      summary: Checks/Enqueue Security Policy Settings for both CheckNow & Schedule
      description: Checks/Enqueue Security Policy Settings for both CheckNow & Schedule
      operationId: checkSecurityPolicy
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/checkSecurityPolicyRq'
            example:
              deviceIds:
                - string
              isEnabled: true
              isExclude: true
              select: 1
              interval: 0
      responses:
        '200':
          description: Return the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkSecurityPolicyRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                requestId: string
  /tco/checkpolicy/schedule:
    get:
      tags:
        - Device Operations
      summary: Gets the Check Policy Schedule interval
      description: Gets the Check Policy Schedule interval
      operationId: tcoGetCheckPolicySchedule
      parameters:
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Return the  Schedule Inteval <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetCheckPolicyScheduleRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                select: 1
                interval: 0
                isEnabled: true
  '/tco/schedule/{groupId}':
    put:
      tags:
        - Device Operations
      summary: Sets the Check Policy Schedule interval
      description: Sets the Check Policy Schedule interval
      operationId: tcoSetCheckPolicySchedule
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetCheckPolicyScheduleRq'
            example:
              deviceIds:
                - string
              isEnabled: true
              isExclude: true
              select: 1
              interval: 0
      responses:
        '200':
          description: Return the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetCheckPolicyScheduleRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  /tco/policy:
    post:
      tags:
        - TCO Security Settings
      summary: Creates Custom Policy
      description: Creates Custom Policy
      operationId: tcoCreatePolicy
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoCreatePolicyRq'
            example:
              groupId: string
              policyName: string
              templateId: string
      responses:
        '200':
          description: Returns the policyId <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoCreatePolicyRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                policyId: string
    delete:
      tags:
        - TCO Security Settings
      summary: Delete(s) Custom Policy
      description: Delete(s) Custom Policy
      operationId: tcoDeletePolicy
      parameters:
        - name: tcoDeletePolicyRq
          in: query
          description: tcoDeletePolicyRq
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoDeletePolicyRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Policy List
      description: Get Policy List
      operationId: tcoGetPolicyList
      parameters:
        - name: groupId
          in: query
          description: groupId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the Policy List<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetPolicyListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                policyList:
                  - policyId: string
                    policyName: string
                    mfpAdminPassword: string
                    canRewrite: true
  /tco/policy/admin/password:
    put:
      tags:
        - TCO Security Settings
      summary: Sets Admin Password for Policies
      description: Sets Admin Password for Policies
      operationId: tcoSetAdminPasswordPolicies
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetAdminPasswordPoliciesRq'
            example:
              groupId: string
              policyId: string
              canRewrite: true
              mfpAdminPassword: string
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetAdminPasswordPoliciesRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Admin Password for Policies with Rewrite flag
      description: Get Admin Password for Policies with Rewrite flag
      operationId: tcoGetAdminPasswordPolicies
      parameters:
        - name: groupId
          in: query
          description: groupId
          required: true
          schema:
            type: string
        - name: policyId
          in: query
          description: policyId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Returns the AdminPassword & Rewrite flag for polocies <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetAdminPasswordPoliciesRes'
              example:
                canRewrite: true
                mfpAdminPassword: string
                adminPassMinLen: 0
                passwordCreationRule: true
  '/tco/security/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Set Security Settings flags for a Policy
      description: Set Security Settings flags for a Policy
      operationId: tcoSetSecuirtySettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetSecuirtySettingsRq'
            example:
              policyName: string
              securityPortSettingsUseFlag: true
              securityFilterSettingsUseFlag: true
              securitySslSettingsUseFlag: true
              securityIpsecSettingsUseFlag: true
              securityIEEE802SettingsUseFlag: true
              securityControlSettingsUseFlag: true
              securityHiddenPatternSettingsUseFlag: true
              securityTrackingPrintSettingsUseFlag: true
              securityAuditLogSettingsUseFlag: true
              autoResetStatus: true
              securityPasswordSettingsUsageFlag: false
              securityIntrusionDetectionSettingsUsageFlag: false
              securityVirusScanSettingsUsageFlag: false
              securitySMimeSettingsUsageFlag: false
              securityDocAdminSettingsUsageFlag: false
              emailAlertStatusUsageFlag: false
              networkSettingsUsageFlag: false
              authSettingsUsageFlag: false
              osaSettingsUsageFlag: false
      responses:
        '200':
          description: Returns the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetSecuirtySettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: 'Get Security Settings flags for a Policy '
      description: Get Security Settings flags for a Policy
      operationId: tcoGetSecuirtySettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns Security Settings flags for a Policy<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetSecuirtySettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                policyName: string
                securityPortSettingsUseFlag: true
                securityFilterSettingsUseFlag: true
                securitySslSettingsUseFlag: true
                securityIpsecSettingsUseFlag: true
                securityIEEE802SettingsUseFlag: true
                securityControlSettingsUseFlag: true
                securityHiddenPatternSettingsUseFlag: true
                securityTrackingPrintSettingsUseFlag: true
                securityAuditLogSettingsUseFlag: true
                autoResetStatus: true
                securityPasswordSettingsUsageFlag: false
                securityIntrusionDetectionSettingsUsageFlag: false
                securityVirusScanSettingsUsageFlag: false
                securitySMimeSettingsUsageFlag: false
                securityDocAdminSettingsUsageFlag: false
                emailAlertStatusUsageFlag: false
                networkSettingsUsageFlag: false
                authSettingsUsageFlag: false
                osaSettingsUsageFlag: false
  '/tco/port/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Port Security Settings
      description: Edit Port Security Settings
      operationId: tcoPortPolicyEdit
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoEditPortPolicyRq'
            example:
              securityPortSettingsList:
                - securityPortSettings:
                    serverClientKind: 0
                    protocolName: string
                    portNumberChangeFlag: true
                    portNumber: 0
                    levelSetting: 0
                    levelPortUseFlag: true
      responses:
        '200':
          description: Returns the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoEditPortPolicyRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Port Security Settings
      description: Returns the Port Settings
      operationId: tcoGetPortSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Port Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetPortSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                securityPortSettingsList:
                  - securityPortSettings:
                      serverClientKind: 0
                      protocolName: string
                      portNumberChangeFlag: true
                      portNumber: 0
                      levelSetting: 0
                      levelPortUseFlag: true
  '/tco/filter/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Filter Security Settings
      description: Edit Filter Security Settings
      operationId: tcoFilterPolicyEdit
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoEditFilterPolicyRq'
            example:
              securityFilterSettingsInfo:
                levelSetting: 0
                filterMode: true
                ipAddressFilterList:
                  - ipAddressStart: String
                    ipAddressEnd: String
                  - ipAddressStart: String
                    ipAddressEnd: String
                  - ipAddressStart: String
                    ipAddressEnd: String
                  - ipAddressStart: String
                    ipAddressEnd: String
                macAddressFilterList:
                  - macAddress: String
                  - macAddress: String
                  - macAddress: String
                  - macAddress: String
                  - macAddress: String
                  - macAddress: String
                  - macAddress: String
                  - macAddress: String
                  - macAddress: String
                  - macAddress: String
      responses:
        '200':
          description: Returns the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoEditFilterPolicyRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Filter Security Settings
      description: Returns the Filter Settings
      operationId: tcoGetFilterSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Filter Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetFilterSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                securityFilterSettingsInfo:
                  levelSetting: 0
                  filterMode: true
                  ipAddressFilterList:
                    - ipAddressStart: String
                      ipAddressEnd: String
                    - ipAddressStart: String
                      ipAddressEnd: String
                    - ipAddressStart: String
                      ipAddressEnd: String
                    - ipAddressStart: String
                      ipAddressEnd: String
                  macAddressFilterList:
                    - macAddress: String
                    - macAddress: String
                    - macAddress: String
                    - macAddress: String
                    - macAddress: String
                    - macAddress: String
                    - macAddress: String
                    - macAddress: String
                    - macAddress: String
                    - macAddress: String
  '/tco/ssl/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit SSL Settings
      description: Edit SSL Settings
      operationId: tcoSSLPolicyEdit
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoEditSSLPolicyRq'
            example:
              sslPortSettingsList:
                - sslPortSettings:
                    serverClientKind: 0
                    protocolName: string
                    levelSetting: 0
              sslEncryptStrengthLevel: 0
      responses:
        '200':
          description: Returns the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoEditSSLPolicyRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get SSL Settings
      description: Returns the SSL Settings
      operationId: tcoGetSSLSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the SSL Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetSSLSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                sslPortSettingsList:
                  - sslPortSettings:
                      serverClientKind: 0
                      protocolName: string
                      levelSetting: 0
                sslEncryptStrengthLevel: 0
  '/tco/ipsec/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit IPsec IKEv1 Settings
      description: Edit IPsec IKEv1 Settings
      operationId: tcoEditIPsecIKEv1Settings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoEditIPsecIKEv1SettingsRq'
            example:
              levelSetting: 0
              ikev1Settings:
                preSharedKey: string
                saLifeTime: 0
                saLifeTimeSize: 0
                ikeLifeTime: 0
      responses:
        '200':
          description: Returns the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoEditIPsecIKEv1SettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get IPsec IKEv1 Settings
      description: Returns the IPsec IKEv1  Settings
      operationId: tcoGetIPsecIKEv1Settings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Security Policy IPsec IKEv1 Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetIPsecIKEv1SettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                levelSetting: 0
                ikev1Settings:
                  preSharedKey: string
                  saLifeTime: 0
                  saLifeTimeSize: 0
                  ikeLifeTime: 0
  /tco/ipsec/rules/conf:
    post:
      tags:
        - TCO Security Settings
      summary: ' Add Security Policy IPsec Rule'
      description: Add Security Policy IPsec Rule
      operationId: tcoAddIPSecRule
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoAddIPSecRuleRq'
            example:
              groupId: string
              policyId: string
              ruleName: string
              priority: 0
              modelRule: 0
              communicationType: 0
              protocol: 0
              filterMode: 0
              ipsecEncryption:
                espEffectiveFlag: true
                espUnusedAcceptFlag: true
                ahEffectiveFlag: true
                ahUnusedAcceptFlag: true
              mfpSideAddress:
                - ipAddressType: all-ipv4
                  ipAddressUseFlag: boolean
                  portNumber: integer
                - ipAddressType: all-ipv6
                  ipAddressUseFlag: boolean
                  portNumber: integer
                - ipAddressType: specified-ipv4
                  ipAddressUseFlag: boolean
                  ipAddress: string
                  portNumber: integer
                  prefixLength: integer
                - ipAddressType: specified-ipv6
                  ipAddressUseFlag: boolean
                  ipAddress: string
                  portNumber: integer
                  prefixLength: integer
              clientSideAddress:
                - ipAddressType: all-ipv4
                  ipAddressUseFlag: boolean
                  portNumber: integer
                - ipAddressType: all-ipv6
                  ipAddressUseFlag: boolean
                  portNumber: integer
                - ipAddressType: specified-ipv4
                  ipAddressUseFlag: boolean
                  ipAddress: string
                  portNumber: integer
                  prefixLength: integer
                - ipAddressType: specified-ipv6
                  ipAddressUseFlag: boolean
                  ipAddress: string
                  portNumber: integer
                  prefixLength: integer
      responses:
        '200':
          description: Returns the status<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoAddIPSecRuleRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                ipsecRuleId: 0
    get:
      tags:
        - TCO Security Settings
      summary: Gets IPSec Rule details
      description: Gets the details of secific IPSec Rule under a specific Security Policy
      operationId: get-tco-ipsec-rules-conf-policyid-policyid-ipsecruleid-ipsecruleid
      parameters:
        - name: policyId
          in: query
          required: true
          schema:
            type: string
        - name: ipsecRuleId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Return the details of IPSec Rule<br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetIPSecRuleRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                ipsecRuleId: 0
                ruleName: string
                priority: 0
                modelRule: 0
                communicationType: 0
                protocol: 0
                filterMode: 0
                ipsecEncryption:
                  espEffectiveFlag: true
                  espUnusedAcceptFlag: true
                  ahEffectiveFlag: true
                  ahUnusedAcceptFlag: true
                mfpSideAddress:
                  - allIPv4:
                      ipAddressType: string
                      ipAddressUseFlag: true
                      portNumber: 0
                    allIPv6:
                      ipAddressType: string
                      ipAddressUseFlag: true
                      portNumber: 0
                    specifiedIPv4:
                      ipAddressType: string
                      ipAddressUseFlag: true
                      ipAddress: string
                      portNumber: 0
                      prefixLength: 0
                    specifiedIPv6:
                      ipAddressType: string
                      ipAddressUseFlag: true
                      ipAddress: string
                      portNumber: 0
                      prefixLength: 0
                clientSideAddress:
                  - ipAddressType: all-ipv4
                    ipAddressUseFlag: boolean
                    portNumber: integer
                  - ipAddressType: all-ipv6
                    ipAddressUseFlag: boolean
                    portNumber: integer
                  - ipAddressType: specified-ipv4
                    ipAddressUseFlag: boolean
                    ipAddress: string
                    portNumber: integer
                    prefixLength: integer
                  - ipAddressType: specified-ipv6
                    ipAddressUseFlag: boolean
                    ipAddress: string
                    portNumber: integer
                    prefixLength: integer
  '/tco/ipsec/rules/conf/{ipsecRuleId}':
    put:
      tags:
        - TCO Security Settings
      summary: Edit IPsec Rule
      description: 'Edit the specific IPsec Rule under specific security policy '
      operationId: put-tco-ipsec-rules-conf-ipsecruleid-policyid-policyid
      parameters:
        - name: ipsecRuleId
          in: path
          required: true
          schema:
            type: string
        - name: policyId
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoEditIPSecRuleRq'
            example:
              groupId: string
              ruleName: string
              priority: 0
              modelRule: 0
              communicationType: 0
              protocol: 0
              filterMode: 0
              ipsecEncryption:
                espEffectiveFlag: true
                espUnusedAcceptFlag: true
                ahEffectiveFlag: true
                ahUnusedAcceptFlag: true
              mfpSideAddress:
                - ipAddressType: all-ipv4
                  ipAddressUseFlag: boolean
                  portNumber: integer
                - ipAddressType: all-ipv6
                  ipAddressUseFlag: boolean
                  portNumber: integer
                - ipAddressType: specified-ipv4
                  ipAddressUseFlag: boolean
                  ipAddress: string
                  portNumber: integer
                  prefixLength: integer
                - ipAddressType: specified-ipv6
                  ipAddressUseFlag: boolean
                  ipAddress: string
                  portNumber: integer
                  prefixLength: integer
              clientSideAddress:
                - ipAddressType: all-ipv4
                  ipAddressUseFlag: boolean
                  portNumber: integer
                - ipAddressType: all-ipv6
                  ipAddressUseFlag: boolean
                  portNumber: integer
                - ipAddressType: specified-ipv4
                  ipAddressUseFlag: boolean
                  ipAddress: string
                  portNumber: integer
                  prefixLength: integer
                - ipAddressType: specified-ipv6
                  ipAddressUseFlag: boolean
                  ipAddress: string
                  portNumber: integer
                  prefixLength: integer
      responses:
        '200':
          description: Returns the Status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoEditIPSecRuleRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  '/tco/ipsec/rules/{policyId}':
    get:
      tags:
        - TCO Security Settings
      summary: ' Get List of IPsec Rules'
      description: Get List of IPsec Rules
      operationId: getIPSecRuleList
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Return the IPSec Rule list  <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetIPSecRuleListRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                ipsecRuleSetting:
                  - ipsecRuleId: 0
                    ruleName: string
                    priority: 0
  /tco/ipsec/rules/del:
    post:
      tags:
        - TCO Security Settings
      summary: Deletes IPsec Rules
      description: Deletes IPsec Rules for a specified Security Policy
      operationId: post-tco-ipsec-rules-del
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoDeleteIPSecRulesRq'
            example:
              policyId: string
              groupId: string
              ipsecRuleIds:
                - string
      responses:
        '200':
          description: Deletes the discovery conditions <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoDeleteIPSecRulesRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
  '/tco/ieee802/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit IEEE802 Security Settings
      description: Edit IEEE802 Security Settings
      operationId: tcoEditIEEE802Policy
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoEditIEEE802PolicyRq'
            example:
              IEEE802Authentication:
                IEEE802AuthLevel: 0
                eapAuthMethodLevel: 0
                serverAuthFlag: true
              IEEE802Settings:
                eapUserName: string
                eapPasswordChangeFlag: true
                eapPassword: string
                eapTimeout: 0
                eapRetry: 0
      responses:
        '200':
          description: Returns the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoEditIEEE802PolicyRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get IEEE802 Security Settings
      description: Returns the IEEE802 Settings
      operationId: tcoGetIEEE802Settings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the IEEE802 Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetIEEE802SettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                IEEE802Authentication:
                  IEEE802AuthLevel: 0
                  eapAuthMethodLevel: 0
                  serverAuthFlag: true
                IEEE802Settings:
                  eapUserName: string
                  eapPasswordChangeFlag: true
                  eapPassword: string
                  eapTimeout: 0
                  eapRetry: 0
  '/tco/securityControl/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Security Control Settings
      description: Edit Security Control Settings
      operationId: tcoEditSecurityControlPolicy
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoEditSecurityControlPolicyRq'
            example:
              securityControlSettings:
                levelSetting: 0
                restrictPrintJobs: true
                operation: 0
                autoDeleteSuspendedPrintJob: false
                autoDeleteSuspendedPrintJobTime: 0
                rejectRequests: false
                firmwareRestore: false
                applyPolicy: false
                mandatoryAccessControl: false
                jobStatusCompletionDisplayPrintSettings: true
                jobStatusCompletionDisplayScanSettings: true
                doNotDisplayFileNamePrintJob: false
                doNotDisplayAddressScanJob: false
      responses:
        '200':
          description: Returns the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoEditSecurityControlPolicyRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Security Control  Settings
      description: Returns the Security Control Settings
      operationId: tcoGetSecurityControlSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Security Control Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetSecurityControlSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                securityControlSettings:
                  levelSetting: 0
                  restrictPrintJobs: true
                  operation: 0
                  autoDeleteSuspendedPrintJob: false
                  autoDeleteSuspendedPrintJobTime: 0
                  rejectRequests: false
                  firmwareRestore: false
                  applyPolicy: false
                  mandatoryAccessControl: false
                  jobStatusCompletionDisplayPrintSettings: true
                  jobStatusCompletionDisplayScanSettings: true
                  doNotDisplayFileNamePrintJob: false
                  doNotDisplayAddressScanJob: false
  '/tco/hiddenPattern/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Hidden Pattern Print Settings
      description: Edit Hidden Pattern PrintSettings
      operationId: tcoEditHiddenPatternPrintSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoEditHiddenPatternPrintSettingsRq'
            example:
              levelSetting: 0
              securityHiddenPatternPrintStatusSettings:
                copy: true
                documentFiling: true
                color: 0
                exposure: 0
                fontSize: 48
                angle: 0
                fontType: 0
                effect: 0
                printType: 0
              securityHiddenPatternPrintContentSettings:
                presetWord: true
                presetvalue: 0
                serialNumber: true
                jobId: true
                userName: true
                controlNo: true
                dateTime: true
                dateTimeFormat: 0
                seperator: 0
                time: 0
                disabledirectEntry: true
              securityHiddenPatternPrintSettings:
                black: 0
                magenta: 0
                cyan: 0
                templateList:
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
                  - id: integer
                    text: String
      responses:
        '200':
          description: Returns the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoEditHiddenPatternPrintSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Hidden Pattern Print  Settings
      description: Returns the Hidden Pattern Print Settings
      operationId: tcoGetHiddenPatternPrintSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Hidden Pattern Print Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetHiddenPatternPrintSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                levelSetting: 0
                securityHiddenPatternPrintStatusSettings:
                  copy: true
                  documentFiling: true
                  color: 0
                  exposure: 0
                  fontSize: 48
                  angle: 0
                  fontType: 0
                  effect: 0
                  printType: 0
                securityHiddenPatternPrintContentSettings:
                  presetWord: true
                  presetvalue: 0
                  serialNumber: true
                  jobId: true
                  userName: true
                  controlNo: true
                  dateTime: true
                  dateTimeFormat: 0
                  seperator: 0
                  time: 0
                  disabledirectEntry: true
                securityHiddenPatternPrintSettings:
                  black: 0
                  magenta: 0
                  cyan: 0
                  templateList:
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
                    - id: integer
                      text: String
  '/tco/trackingInfoPrint/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Security Tracking Info Print Settings
      description: Edit Security Tracking Info Print Settings
      operationId: tcoEditTrackingInfoPrintSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoEditTrackingInfoPrintSettingsRq'
            example:
              levelSetting: 0
              defaultSerialNumber: true
              serialNumber: true
              serialNumberText: string
              jobId: true
              userName: true
              dateTime: true
              printColor: 0
              verticalPosition: 0
              horizontalPosition: 0
              positionAdjustment: 0
              fontSize: 0
              securityTrackingPrintJobSettings:
                copy: true
                print: true
                documentFiling: true
                faxReceive: true
                internetFaxReceive: true
                listPrint: true
      responses:
        '200':
          description: Returns the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoEditTrackingInfoPrintSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Security Tracking Info Print Settings
      description: Returns the Security Tracking Info Print Settings
      operationId: tcoGetTrackingInfoPrintSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Security Tracking Info Print Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetTrackingInfoPrintSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                securityTrackingPrintInfoSettings:
                  levelSetting: 0
                  defaultSerialNumber: true
                  serialNumber: true
                  serialNumberText: string
                  jobId: true
                  userName: true
                  dateTime: true
                  printColor: 0
                  verticalPosition: 0
                  horizontalPosition: 0
                  positionAdjustment: 0
                  fontSize: 0
                  securityTrackingPrintJobSettings:
                    copy: true
                    print: true
                    documentFiling: true
                    faxReceive: true
                    internetFaxReceive: true
                    listPrint: true
  '/tco/auditLog/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Audit Log Settings
      description: Edit Audit Log Settings
      operationId: tcoEditAuditLogSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoEditAuditLogSettingsRq'
            example:
              securityAuditLogSettings:
                levelSetting: 0
                storageServer: true
                serverSend: true
                serverAddress: string
                ssl: true
                port: 0
                sslPort: 0
      responses:
        '200':
          description: Returns the status <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoEditAuditLogSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Audit Log  Settings
      description: Returns the Audit Log Settings
      operationId: tcoGetAuditLogSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Audit Log Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetAuditLogSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                securityAuditLogSettings:
                  levelSetting: 0
                  storageServer: true
                  serverSend: true
                  serverAddress: string
                  ssl: true
                  port: 0
                  sslPort: 0
  '/tco/passwordRules/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Password Policy Rules for Policy
      description: Edit Password Policy Rules for the specified Policy.
      operationId: tcoSetPasswordRulesSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetPasswordRulesSettingsRq'
            example:
              passwordRulesSettings:
                levelSetting: 0
                passwordPolicySettings:
                  adminPasswordSettings:
                    minPasswordLength: 0
                    passwordCreationRule: false
                    prohibitReuseCurrentPassword: false
                  userPasswordSettings:
                    minPasswordLength: 0
                    passwordCreationRule: false
                    prohibitReuseCurrentPassword: false
                    removeDormantUser: false
                    dormantUserPeriod: 0
                    prohibitReuseDeletedUsers: false
                    deletedUserPeriod: 0
                passwordChangeSettings:
                  restrictPageAccessFlag: false
      responses:
        '200':
          description: Returns the status of update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetPasswordRulesSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Password Rules Settings for Policy
      description: Gets the Password Policy Rules for the specified Policy
      operationId: tcoGetPasswordRulesSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Password Rules Settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetPasswordRulesSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                passwordRulesSettings:
                  levelSetting: 0
                  passwordPolicySettings:
                    adminPasswordSettings:
                      minPasswordLength: 0
                      passwordCreationRule: false
                      prohibitReuseCurrentPassword: false
                    userPasswordSettings:
                      minPasswordLength: 0
                      passwordCreationRule: false
                      prohibitReuseCurrentPassword: false
                      removeDormantUser: false
                      dormantUserPeriod: 0
                      prohibitReuseDeletedUsers: false
                      deletedUserPeriod: 0
                  passwordChangeSettings:
                    restrictPageAccessFlag: false
  '/tco/intrusionDetection/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Intrusion/Attack Detection for Policy
      description: Edit Intrusion/Attack Detection settings for the specified Policy.
      operationId: tcoSetIntrusionDetectionSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetIntrusionDetectionSettingsRq'
            example:
              intrusionDetectionSettings:
                levelSetting: 0
                detectionPeriod: 0
                noOfDetectedPackets: 0
      responses:
        '200':
          description: Returns the status of update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetIntrusionDetectionSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Intrusion/Attack Detection for Policy
      description: Gets the Intrusion/Attack Detection for the specified Policy
      operationId: tcoGetIntrusionDetectionSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Intrusion Detection Settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetIntrusionDetectionSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                intrusionPolicySettings:
                  levelSetting: 0
                  detectionPeriod: 0
                  noOfDetectedPackets: 0
  '/tco/virusScanInfo/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Virus Scan Info for Policy
      description: Edit Virus Scan Info settings for the specified Policy.
      operationId: tcoSetVirusScanInfoSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetVirusScanInfoSettingsRq'
            example:
              virusScanInfoSettings:
                levelSetting: 0
                performVirusScanInputOutputData: false
                performVirusScanSpecifiedTime: false
                timeSchedule:
                  scanType: 1
                  scanDay: 0
                  scanHour: 0
                  scanMinute: 0
                systemFileScan: false
                embeddedAppScan: false
                nasDataScan: false
      responses:
        '200':
          description: Returns the status of update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetVirusScanInfoSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Virus Scan Info for Policy
      description: Gets the Virus Scan Info Settings for the specified Policy
      operationId: tcoGetVirusScanInfoSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Virus Scan Info Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetVirusScanInfoSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                virusScanInfoSettings:
                  levelSetting: 0
                  performVirusScanInputOutputData: false
                  performVirusScanSpecifiedTime: false
                  timeSchedule:
                    scanType: 1
                    scanDay: 0
                    scanHour: 0
                    scanMinute: 0
                  systemFileScan: false
                  embeddedAppScan: false
                  nasDataScan: false
  '/tco/secMIMEInfo/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit MIME Info for Policy
      description: Edit MIME Info settings for the specified Policy.
      operationId: tcoSetMIMEInfoSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetMIMEInfoSettingsRq'
            example:
              mimeInfoSettings:
                levelSetting: 3
                signEmail: 1
                signatureAlgorithm: 1
                encryptEmail: 1
                encryptMethod: 1
                disableSending: false
      responses:
        '200':
          description: Returns the status of update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetMIMEInfoSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get MIME Info for Policy
      description: Gets the MIME Info Settings for the specified Policy
      operationId: tcoGetMIMEInfoSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the MIME Info Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetMIMEInfoSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                mimeInfoSettings:
                  levelSetting: 3
                  signEmail: 1
                  signatureAlgorithm: 1
                  encryptEmail: 1
                  encryptMethod: 1
                  disableSending: false
  '/tco/secDocAdmin/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Document Administration for Policy
      description: Edit Document Administration settings for the specified Policy.
      operationId: tcoSetDocAdminSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetDocAdminSettingsRq'
            example:
              docAdminSettings:
                levelSetting: 3
                directEntryValue: string
                transferViaBcc: false
                fileFormat: 1
                rcvDataFlag: 3
                rcvDirectEntryValue: string
                rcvTransferViaBcc: false
                rcvFileFormat: 1
      responses:
        '200':
          description: Returns the status of update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetDocAdminSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Document Administration for Policy
      description: Gets the Document Administration Settings for the specified Policy
      operationId: tcoGetDocAdminSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Document Administration Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetDocAdminSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                docAdminSettings:
                  levelSetting: 3
                  directEntryValue: string
                  transferViaBcc: false
                  fileFormat: 1
                  rcvDataFlag: 3
                  rcvDirectEntryValue: string
                  rcvTransferViaBcc: false
                  rcvFileFormat: 1
  '/tco/emailAlertStatus/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Email Alert Status for Policy
      description: Edit Email Alert Status settings for the specified Policy.
      operationId: tcoSetEmailAlertStatusSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetEmailAlertStatusSettingsRq'
            example:
              emailAlertStatusSettings:
                statusMessage:
                  standard:
                    emailStatusMsgList:
                      - email: string
                        schedule1UseFlag: false
                        schedule2UseFlag: false
                        type: 1
                    timeScheduleList:
                      - recurrenceType: 1
                        recurrence: 0
                        days: 0
                        type: 1
                  advanced:
                    levelSetting: 1
                    pop3Server: string
                    portNumber: 0
                    authMethod: 0
                    provider: 1
                    userName: string
                    password: string
                    passwordChangeFlag: false
                    interval: 0
                    sslTlsUseFlag: false
                alertsMessage:
                  emailAlertMsgList:
                    - email: string
                      jamUseFlag: true
                      tonerLowUseFlag: true
                      tonerEmptyUseFlag: true
                      paperEmptyUseFlag: true
                      serviceRequestUseFlag: true
                      pmRequestUseFlag: true
                      wasteTonerAlmostFullUseFlag: true
                      wasteTonerFullUseFlag: true
                      jobLogFullUseFlag: true
                      securityAlertUseFlag: false
                      type: 1
                smtpSettings:
                  useSmtpServerUseFlag: false
                  primaryServer: ''
                  secondaryServer: ''
                  portNumber: 25
                  timeout: 20
                  senderName: ''
                  senderAddress: ''
                  sslTlsUseFlag: false
                  authMethod: 0
                  userName: ''
                  password: ''
                  passwordChangeFlag: false
                  provider: 1
                  popSmtpUseFlag: false
                  popServer:
                    pop3Server: ''
                    portNumber: 110
                    popAuthUseFlag: false
                    userName: ''
                    password: ''
                    passwordChangeFlag: false
                    sslTlsUseFlag: false
      responses:
        '200':
          description: Returns the status of update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetEmailAlertStatusSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Email Alert Status for Policy
      description: Gets the Email Alert Status Settings for the specified Policy
      operationId: tcoGetEmailAlertStatusSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Email Alert Status Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetEmailAlertStatusSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                emailAlertStatusSettings:
                  statusMessage:
                    standard:
                      emailStatusMsgList:
                        - email: string
                          schedule1UseFlag: false
                          schedule2UseFlag: false
                          type: 1
                      timeScheduleList:
                        - recurrenceType: 1
                          recurrence: 0
                          days: 0
                          type: 1
                    advanced:
                      levelSetting: 1
                      pop3Server: string
                      portNumber: 0
                      authMethod: 0
                      provider: 1
                      userName: string
                      interval: 0
                      sslTlsUseFlag: false
                  alertsMessage:
                    emailAlertMsgList:
                      - email: string
                        jamUseFlag: true
                        tonerLowUseFlag: true
                        tonerEmptyUseFlag: true
                        paperEmptyUseFlag: true
                        serviceRequestUseFlag: true
                        pmRequestUseFlag: true
                        wasteTonerAlmostFullUseFlag: true
                        wasteTonerFullUseFlag: true
                        jobLogFullUseFlag: true
                        securityAlertUseFlag: false
                        type: 1
                  smtpSettings:
                    useSmtpServerUseFlag: false
                    primaryServer: ''
                    secondaryServer: ''
                    portNumber: 25
                    timeout: 20
                    senderName: ''
                    senderAddress: ''
                    sslTlsUseFlag: false
                    authMethod: 0
                    userName: ''
                    provider: 1
                    popSmtpUseFlag: false
                    popServer:
                      pop3Server: ''
                      portNumber: 110
                      popAuthUseFlag: false
                      userName: ''
                      sslTlsUseFlag: false
  '/tco/networkSettings/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Network Settings for Policy
      description: Edit Network settings for the specified Policy.
      operationId: tcoSetNetworkSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetNetworkSettingsRq'
            example:
              networkSettings:
                snmpSettings:
                  snmpV1:
                    levelSetting: 1
                    accessMethod: 1
                    getCommunity: string
                    setCommunityChangeFlag: false
                    setCommunity: string
                    trapCommunity: string
                    trapIPAddressA: string
                    trapIPAddressB: string
                  snmpV3:
                    levelSetting: 1
                    userName: string
                    authKeyType: 1
                    authKey: string
                    privacyKeyType: 1
                    privacyKey: string
                smbSettings:
                  smbServer:
                    smbV1: true
                    smbV2: true
                    smbV3: true
                    encComm: false
                  smbClient:
                    smbV1: true
                    smbV2: true
                    smbV3: true
      responses:
        '200':
          description: Returns the status of update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetNetworkSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Network Settings for Policy
      description: Gets the Network Settings for the specified Policy
      operationId: tcoGetNetworkSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Network Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetNetworkSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                networkSettings:
                  snmpSettings:
                    snmpV1:
                      levelSetting: 1
                      accessMethod: 1
                      getCommunity: string
                      trapCommunity: string
                      trapIPAddressA: string
                      trapIPAddressB: string
                    snmpV3:
                      levelSetting: 1
                      userName: string
                      authKeyType: 1
                      authKey: string
                      privacyKeyType: 1
                      privacyKey: string
                  smbSettings:
                    smbServer:
                      smbV1: true
                      smbV2: true
                      smbV3: true
                      encComm: false
                    smbClient:
                      smbV1: true
                      smbV2: true
                      smbV3: true
  '/tco/authenticationSettings/conf/{policyId}':
    patch:
      tags:
        - TCO Security Settings
      summary: Edit Authentication Settings for Policy
      description: Edit Authentication settings for the specified Policy.
      operationId: tcoSetAuthenticationSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      requestBody:
        content:
          aplication/json:
            schema:
              $ref: '#/components/schemas/tcoSetAuthenticationSettingsRq'
            example:
              authenticationSettings:
                defaultSettings:
                  levelSetting: 1
                  authServerSetting: 0
                  authMethod: 1
                  caseSensitive: true
                  quickLogin: false
                  storeUserInfo: true
                  storePassword: true
                  cachePeriod: 0
                  enablePersonalization: true
                  offlineAuthInfo: false
                  cacheAuthInfo: true
                  useICCardAuth: false
                  cardAuthMethod: 1
                  disPrintInvalidUser: false
                  autoLogout: true
                  autoLogoutTime: 10
                  warningLoginFail: false
                  allowRemoteScanBefLogin: false
                  includeJobStatusAuth: false
                  displaySysInfoBefLogin: false
                  enableIPPAuth: true
                  limitPageOutputJob: 1
                  autoPrintStore: false
                  storePrintType: 0
                  counterReset: false
                  otherUserJobStatus: false
                  setEmailAdd: false
                  applyLoginName: true
                  loginNameDisp: 0
                  dispUsageStatus: false
                  editHelpDisp: string
                conditionSettings:
                  cardType: 0
                  changeAuthority: 1
                  checkFacility: false
                  facilityCode: string
      responses:
        '200':
          description: Returns the status of update.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoSetAuthenticationSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                status: true
    get:
      tags:
        - TCO Security Settings
      summary: Get Authentication Settings for Policy
      description: Gets the Authentication Settings for the specified Policy
      operationId: tcoGetAuthenticationSettings
      parameters:
        - name: policyId
          in: path
          description: policyId
          required: true
          schema:
            type: string
        - name: groupId
          in: query
          description: groupId
          schema:
            type: string
      responses:
        '200':
          description: Returns the Authentication Settings <br>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcoGetAuthenticationSettingsRes'
              example:
                common:
                  errorList:
                    - errorCode: string
                      errorField: string
                      errorValue: string
                      errorMessage: string
                authenticationSettings:
                  defaultSettings:
                    levelSetting: 1
                    authServerSetting: 0
                    authMethod: 1
                    caseSensitive: true
                    quickLogin: false
                    storeUserInfo: true
                    storePassword: true
                    cachePeriod: 0
                    enablePersonalization: true
                    offlineAuthInfo: false
                    cacheAuthInfo: true
                    useICCardAuth: false
                    cardAuthMethod: 1
                    disPrintInvalidUser: false
                    autoLogout: true
                    autoLogoutTime: 10
                    warningLoginFail: false
                    allowRemoteScanBefLogin: false
                    includeJobStatusAuth: false
                    displaySysInfoBefLogin: false
                    enableIPPAuth: true
[...]
